In [2]:
import pandas as pd

In [5]:
parks = pd.read_csv('../data_large_sets/Parks_Properties.csv')

In [8]:
pd.set_option('display.max_columns', None)

In [19]:
parks.head()

,ACQUISITIONDATE,ACRES,ADDRESS,BOROUGH,CLASS,COMMISSIONDATE,COMMUNITYBOARD,COUNCILDISTRICT,DEPARTMENT,EAPPLY,GISOBJID,GISPROPNUM,GlobalID,JURISDICTION,LOCATION,MAPPED,NAME311,NYS_ASSEMBLY,NYS_SENATE,OBJECTID,OMPPROPID,PARENTID,PERMIT,PERMITDISTRICT,PERMITPARENT,PIP_RATABLE,PRECINCT,RETIRED,SIGNNAME,SUBCATEGORY,TYPECATEGORY,URL,US_CONGRESS,WATERFRONT,ZIPCODE,multipolygon
0,1965-05-24 00:00:00.0000000,94.100,132 ALTAMONT STREET,R,PARK,NaN,502,50,R-02,High Rock Park,100004808.0,R088,F92F99BD-A37C-4B40-89DD-0989C91D6F7C,DPR,"Richmond Pkwy., Manor Rd., Summit Ave., Rockla...",True,High Rock Park,62,24.0,69247,R088,R-02,False,R-02,R-02,False,122.0,False,High Rock Park,Flagship Park,Nature Area,http://www.nycgovparks.org/parks/R088/,11.0,False,1030410306,MULTIPOLYGON (((-74.12362180687407 40.58475747...
1,2002-11-20 00:00:00.0000000,0.280,2539 PITKIN AVENUE,B,PARK,2010-01-06 00:00:00.0000000,305,37,B-05,Manley's Pl,100004453.0,B483,41857EBF-5ABA-44D8-9CDF-755D8BD8C264,DPR,Montauk Ave. and Pitkin Ave.,False,Manley's Pl,54,18.0,5274,B483,B-05,False,B-05,B-05,False,75.0,False,Manley's Pl,Greenthumb,Garden,http://www.nycgovparks.org/parks/B483/,8.0,False,11208,MULTIPOLYGON (((-73.87857041022092 40.67475246...
2,1965-12-03 00:00:00.0000000,0.003,NaN,Q,PARK,NaN,410,32,Q-10,NaN,100000170.0,Q433B,F039BA02-16A0-4D61-8506-3D96F4A2E567,DPR,S. Conduit Ave. and 88 St.,True,Park,23,15.0,6413,Q433B,Q-10,NaN,Q-10,Q-10,False,106.0,False,Park,EXWY,Strip,NaN,8.0,False,11414,MULTIPOLYGON (((-73.8471858043584 40.669606352...
3,1935-05-16 00:00:00.0000000,4.140,225 JORALEMON STREET,B,PARK,2010-01-06 00:00:00.0000000,302,33,B-02,Columbus Park,100004554.0,B113C,0024C256-D5F1-4B3F-A1B2-8A3CB3B2232A,DPR,"Adam St., Court St., Cadman Plaza West bet. Jo...",True,Columbus Park,52,25.0,5062,B113C,B-02,True,B-02,B-02,True,84.0,False,Columbus Park,Sitting Area/Triangle/Mall,Triangle/Plaza,http://www.nycgovparks.org/parks/B113C/,7.0,False,11201,MULTIPOLYGON (((-73.98911885717008 40.69492270...
4,1952-08-19 00:00:00.0000000,0.744,400 EAST 188 STREET,X,PARK,2010-01-06 00:00:00.0000000,206,15,X-06,Webster Playground,100004845.0,X174,37A31993-CD77-4D82-BBFE-E79B4F5628A3,DPR,E. 188 St. bet. Webster Ave. and Park Ave.,False,Webster Playground,78,33.0,4764,X174,X-06,True,X-06,X-06,True,48.0,False,Webster Playground,Neighborhood Plgd,Playground,http://www.nycgovparks.org/parks/X174/,15.0,False,10458,MULTIPOLYGON (((-73.89239779472493 40.85937697...

In [20]:
parks.columns = parks.columns.str.lower()

In [21]:
parks.columns

Index(['acquisitiondate', 'acres', 'address', 'borough', 'class',
       'commissiondate', 'communityboard', 'councildistrict', 'department',
       'eapply', 'gisobjid', 'gispropnum', 'globalid', 'jurisdiction',
       'location', 'mapped', 'name311', 'nys_assembly', 'nys_senate',
       'objectid', 'omppropid', 'parentid', 'permit', 'permitdistrict',
       'permitparent', 'pip_ratable', 'precinct', 'retired', 'signname',
       'subcategory', 'typecategory', 'url', 'us_congress', 'waterfront',
       'zipcode', 'multipolygon'],
      dtype='object')

For now, I'm keeping address in case I need to use that. I may use either name311 or, more likely, objectid, to idenfity specific parks for a possible categorical feature.

In [22]:
parks = parks[['address', 'borough', 'name311', 'objectid', 'zipcode', 'multipolygon']]

In [39]:
parks.isnull().sum()

address         0
borough         0
name311         0
objectid        0
zipcode         0
multipolygon    0
dtype: int64

In [30]:
parks[parks['address'].isnull()].head()

Empty DataFrame
Columns: [address, borough, name311, objectid, zipcode, multipolygon]
Index: []

In [29]:
parks.loc[parks['address'].isnull(),'address'] = 'none'

In [34]:
parks[parks['name311'].isnull()]

Empty DataFrame
Columns: [address, borough, name311, objectid, zipcode, multipolygon]
Index: []

In [33]:
parks.loc[parks['name311'].isnull(),'name311'] = 'none'

In [38]:
parks[parks['zipcode'].isnull()]

Empty DataFrame
Columns: [address, borough, name311, objectid, zipcode, multipolygon]
Index: []

In [37]:
parks.loc[parks['zipcode'].isnull(),'zipcode'] = 99999

## Long Zip Code Entries
Some parks fall into multiple zipcodes, so those entries are a string of all the zipcodes. I don't plan to use that data now, but want to keep it in case it's helpful. If necessary, I'll break out the strings.

In [43]:
parks[parks['zipcode'].map(str).apply(len) > 5].head()

,address,borough,name311,objectid,zipcode,multipolygon
0,132 ALTAMONT STREET,R,High Rock Park,69247,1030410306,MULTIPOLYGON (((-74.12362180687407 40.58475747...
5,1321 VICTORY BOULEVARD,R,Clove Lakes Park,5039,1030110310,MULTIPOLYGON (((-74.11593668159789 40.62210455...
12,none,Q,Grand Central Parkway Extension,15508,11103113671136811369113701137111375,MULTIPOLYGON (((-73.8587476480729 40.767414466...
26,48 ST NICHOLAS AVENUE,M,St. Nicholas Park,4713,1002710031,MULTIPOLYGON (((-73.95043743457018 40.81328725...
44,none,Q,Jackie Robinson Parkway,69219,11207113751138511415,MULTIPOLYGON (((-73.86076710747783 40.70293377...

In [44]:
parks.shape

(2030, 6)

In [45]:
parks.dtypes

address         object
borough         object
name311         object
objectid         int64
zipcode         object
multipolygon    object
dtype: object

Process of elimination suggested 'R' is the initial for Staten Island. Searching for a couple of 'R' parks by name showed that they were, in fact, on Staten Island.

In [50]:
parks['borough'].value_counts(dropna = False)

BROOKLYN         614
QUEENS           477
BRONX            393
MANHATTAN        386
STATEN ISLAND    160
Name: borough, dtype: int64

In [49]:
parks['borough'].replace({'B': 'BROOKLYN', 'Q': 'QUEENS', 'X': 'BRONX', 'M': 'MANHATTAN', 'R': 'STATEN ISLAND'}, inplace = True)

In [51]:
parks.to_csv('data/parks.csv', index = False)