In [90]:
import pandas as pd

In [29]:
nypd = pd.read_csv('../capstone_large_data_sets/NYPD_Complaint_Map__Historic_.csv')

/var/folders/5_/498w081d1837cc82dmb4hwmc0000gn/T/ipykernel_10405/3354807861.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  nypd = pd.read_csv('../capstone_large_data_sets/NYPD_Complaint_Map__Historic_.csv')

In [3]:
nypd.shape

(7825499, 24)

In [4]:
nypd.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,394506329,12/31/2019,17:30:00,NaN,NaN,32.0,12/31/2019,118,DANGEROUS WEAPONS,793.0,...,NaN,STREET,N.Y. POLICE DEPT,NaN,NaN,999937.0,238365.0,40.820927,-73.943324,"(40.82092679700002, -73.94332421899996)"
1,968873685,12/29/2019,16:31:00,12/29/2019,16:54:00,47.0,12/29/2019,113,FORGERY,729.0,...,NaN,STREET,N.Y. POLICE DEPT,NaN,NaN,1022508.0,261990.0,40.885701,-73.861640,"(40.885701406000074, -73.86164032499995)"
2,509837549,12/15/2019,18:45:00,NaN,NaN,109.0,12/29/2019,578,HARRASSMENT 2,638.0,...,FRONT OF,STREET,N.Y. POLICE DEPT,NaN,NaN,1034178.0,209758.0,40.742281,-73.819824,"(40.74228115600005, -73.81982408)"
3,352454313,12/28/2019,01:00:00,NaN,NaN,47.0,12/28/2019,126,MISCELLANEOUS PENAL LAW,117.0,...,REAR OF,STREET,N.Y. POLICE DEPT,NaN,NaN,1026412.0,258211.0,40.875311,-73.847545,"(40.87531145100007, -73.84754521099995)"
4,248803469,09/05/2008,21:41:00,NaN,NaN,NaN,09/05/2008,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,OUTSIDE,NaN,N.Y. POLICE DEPT,NaN,NaN,1001215.0,193881.0,40.698827,-73.938819,"(40.698827283, -73.938819047)"

In [5]:
nypd.dtypes

CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
ADDR_PCT_CD          float64
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
BORO_NM               object
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
JURIS_DESC            object
PARKS_NM              object
HADEVELOPT            object
X_COORD_CD           float64
Y_COORD_CD           float64
Latitude             float64
Longitude            float64
Lat_Lon               object
dtype: object

In [37]:
nypd.columns = nypd.columns.str.lower()

In [9]:
nypd['cmplnt_fr_dt'].dtypes

dtype('O')

# Reducing Years of Data
My first goal was to shrink the size of the data set by reducing to the last 5 years.

In [11]:
bad_dates = []
for i in nypd.index:
    try:
        nypd.loc[i, 'cmplnt_fr_dt'] = pd.to_datetime(nypd.loc[i, 'cmplnt_fr_dt'])
    except:
        bad_dates.append(i)
        pass

In [12]:
len(bad_dates)

134

In [31]:
for i in bad_dates:
    nypd.drop(index = i, inplace = True)

KeyError: '[36661] not found in axis'

In [36]:
nypd.shape

(7825365, 24)

In [33]:
499-365

134

In [38]:
nypd['cmplnt_fr_dt'].describe()

count        7824710
unique          8913
top       01/01/2010
freq            2488
Name: cmplnt_fr_dt, dtype: object

In [39]:
nypd['cmplnt_fr_dt'] = pd.to_datetime(nypd['cmplnt_fr_dt'])

In [40]:
nypd['cmplnt_fr_dt'].dtypes

dtype('<M8[ns]')

In [41]:
nypd['cmplnt_fr_dt'].describe()

/var/folders/5_/498w081d1837cc82dmb4hwmc0000gn/T/ipykernel_10405/427052170.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  nypd['cmplnt_fr_dt'].describe()

count                 7824710
unique                   8913
top       2010-01-01 00:00:00
freq                     2488
first     1900-03-10 00:00:00
last      2021-12-31 00:00:00
Name: cmplnt_fr_dt, dtype: object

In [42]:
nypd.to_csv('../backup_data/nypd_w_datetime.csv')

In [23]:
nypd[nypd['cmplnt_fr_dt'] > pd.to_datetime('2016-12-31')].shape

(2240579, 24)

In [43]:
nypd = nypd[nypd['cmplnt_fr_dt'] > pd.to_datetime('2009-12-31')]

In [44]:
nypd['cmplnt_fr_dt'].describe()

/var/folders/5_/498w081d1837cc82dmb4hwmc0000gn/T/ipykernel_10405/427052170.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  nypd['cmplnt_fr_dt'].describe()

count                 5700053
unique                   4383
top       2010-01-01 00:00:00
freq                     2488
first     2010-01-01 00:00:00
last      2021-12-31 00:00:00
Name: cmplnt_fr_dt, dtype: object

In [26]:
nypd.shape

(2240579, 24)

In [27]:
nypd.columns

Index(['cmplnt_num', 'cmplnt_fr_dt', 'cmplnt_fr_tm', 'cmplnt_to_dt',
       'cmplnt_to_tm', 'addr_pct_cd', 'rpt_dt', 'ky_cd', 'ofns_desc', 'pd_cd',
       'pd_desc', 'crm_atpt_cptd_cd', 'law_cat_cd', 'boro_nm',
       'loc_of_occur_desc', 'prem_typ_desc', 'juris_desc', 'parks_nm',
       'hadevelopt', 'x_coord_cd', 'y_coord_cd', 'latitude', 'longitude',
       'lat_lon'],
      dtype='object')

# Backup
I'm backed up the data at this point in a csv because it's taken a lot of computing time to get here.

In [45]:
nypd.to_csv('../capstone_large_data_sets/nypd_2010_on.csv')

In [46]:
nypd.head()

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_to_dt,cmplnt_to_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,...,loc_of_occur_desc,prem_typ_desc,juris_desc,parks_nm,hadevelopt,x_coord_cd,y_coord_cd,latitude,longitude,lat_lon
0,394506329,2019-12-31,17:30:00,NaN,NaN,32.0,12/31/2019,118,DANGEROUS WEAPONS,793.0,...,NaN,STREET,N.Y. POLICE DEPT,NaN,NaN,999937.0,238365.0,40.820927,-73.943324,"(40.82092679700002, -73.94332421899996)"
1,968873685,2019-12-29,16:31:00,12/29/2019,16:54:00,47.0,12/29/2019,113,FORGERY,729.0,...,NaN,STREET,N.Y. POLICE DEPT,NaN,NaN,1022508.0,261990.0,40.885701,-73.861640,"(40.885701406000074, -73.86164032499995)"
2,509837549,2019-12-15,18:45:00,NaN,NaN,109.0,12/29/2019,578,HARRASSMENT 2,638.0,...,FRONT OF,STREET,N.Y. POLICE DEPT,NaN,NaN,1034178.0,209758.0,40.742281,-73.819824,"(40.74228115600005, -73.81982408)"
3,352454313,2019-12-28,01:00:00,NaN,NaN,47.0,12/28/2019,126,MISCELLANEOUS PENAL LAW,117.0,...,REAR OF,STREET,N.Y. POLICE DEPT,NaN,NaN,1026412.0,258211.0,40.875311,-73.847545,"(40.87531145100007, -73.84754521099995)"
5,293718737,2019-12-27,22:00:00,NaN,NaN,9.0,12/27/2019,107,BURGLARY,223.0,...,FRONT OF,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,NaN,NaN,989665.0,201866.0,40.720759,-73.980466,"(40.72075882100006, -73.98046642299995)"

# Data Dictionary
The data dictionary is available in the 'data' folder.

I eliminated many columns based on this. Primarily, I'm using `'cmplnt_fr_dt'` to place the complaint in time. I kept the level of offense `'law_cat_cd'`, but am not going to use more granular data on the nature of the crime in this analysis as I already have plenty of features. That said, it could certainly add interesting features to do so later. I'm keeping the precint the complaint took place in, `'addr_pct_cd'`. I'm keeping the X and Y coordinates from the NY State Plane Coordinate system and the latitude and longitude. I'm also keeping the `'cmplnt_num'` in case I want to come back and include more features later. `'boro_nm'`, too.

In [91]:
nypd = pd.read_csv('../capstone_large_data_sets/nypd_2010_on.csv')

/var/folders/5_/498w081d1837cc82dmb4hwmc0000gn/T/ipykernel_10405/757265192.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  nypd = pd.read_csv('../capstone_large_data_sets/nypd_2010_on.csv')

In [92]:
nypd = nypd[['cmplnt_num', 'cmplnt_fr_dt', 'law_cat_cd', 'boro_nm', 'addr_pct_cd', 'x_coord_cd', 'y_coord_cd', 'latitude', 'longitude']]

In [93]:
nypd.shape

(5700053, 9)

# Narrowing Down the TimeFrame
I narrowed down to a 5 year period, starting two years before the period of the permits because of the lead time necessary to build a building. Also, it seems a reasonable enough assumption that crime rates are sticky enough that if that window is off by 6 months or even a year in the case of any given building, the crime rates at the relevant time were likely very similar to what they are in this dataset.

In [94]:
nypd.dtypes

cmplnt_num        int64
cmplnt_fr_dt     object
law_cat_cd       object
boro_nm          object
addr_pct_cd     float64
x_coord_cd      float64
y_coord_cd      float64
latitude        float64
longitude       float64
dtype: object

In [97]:
nypd['cmplnt_fr_dt'] = pd.to_datetime(nypd['cmplnt_fr_dt'])

In [98]:
nypd[nypd['cmplnt_fr_dt']> pd.to_datetime('2014-08-02')].shape

(3399618, 9)

In [99]:
nypd = nypd[nypd['cmplnt_fr_dt']> pd.to_datetime('2014-08-02')]

In [100]:
nypd.shape

(3399618, 9)

In [101]:
nypd[nypd['cmplnt_fr_dt']< pd.to_datetime('2020-08-02')].shape

(2781639, 9)

In [102]:
nypd = nypd[nypd['cmplnt_fr_dt']< pd.to_datetime('2020-08-02')]

In [103]:
nypd.shape

(2781639, 9)

Examining categories. I don't want to eliminate any of these yet.

In [104]:
nypd['law_cat_cd'].value_counts()

MISDEMEANOR    1513784
FELONY          862699
VIOLATION       405156
Name: law_cat_cd, dtype: int64

# Nulls
I can't work with data that doesn't have latitude/longitude, x/y_coord, so I have to drop those.

Given the crunch on computing time, I'm going to also drop the ones that are null for boro_nm because I don't have the time to identify those (likely from add_pct_cd).

Likewise, on the 4 missing precint, I'm going to drop those because it won't be worth the time necessary to fill in.

In [105]:
nypd.isnull().sum()

cmplnt_num         0
cmplnt_fr_dt       0
law_cat_cd         0
boro_nm         1984
addr_pct_cd        4
x_coord_cd       134
y_coord_cd       134
latitude         134
longitude        134
dtype: int64

In [106]:
nypd.shape

(2781639, 9)

In [107]:
nypd.dropna(inplace = True)

In [108]:
nypd.shape

(2779524, 9)

In [109]:
2781639-2779524

2115

In [110]:
nypd.to_csv('../capstone_large_data_sets/nypd_2014_on.csv')

# Break Down by Year
I'm going to try breaking these down by year to make the computation a little easier.

In [113]:
nypd2014_15 = nypd[(nypd['cmplnt_fr_dt']> pd.to_datetime('2014-08-02')) & (nypd['cmplnt_fr_dt']<= pd.to_datetime('2015-08-02'))]
nypd2015_16 = nypd[(nypd['cmplnt_fr_dt']> pd.to_datetime('2015-08-02')) & (nypd['cmplnt_fr_dt']<= pd.to_datetime('2016-08-02'))]
nypd2016_17 = nypd[(nypd['cmplnt_fr_dt']> pd.to_datetime('2016-08-02')) & (nypd['cmplnt_fr_dt']<= pd.to_datetime('2017-08-02'))]
nypd2017_18 = nypd[(nypd['cmplnt_fr_dt']> pd.to_datetime('2017-08-02')) & (nypd['cmplnt_fr_dt']<= pd.to_datetime('2018-08-02'))]
nypd2018_19 = nypd[(nypd['cmplnt_fr_dt']> pd.to_datetime('2018-08-02')) & (nypd['cmplnt_fr_dt']<= pd.to_datetime('2019-08-02'))]
nypd2019_20 = nypd[(nypd['cmplnt_fr_dt']> pd.to_datetime('2019-08-02')) & (nypd['cmplnt_fr_dt']<= pd.to_datetime('2020-08-02'))]

In [114]:
print(f"Shape of 2014-15: {nypd2014_15.shape}")
print(f"Shape of 2015-16: {nypd2015_16.shape}")
print(f"Shape of 2016-17: {nypd2016_17.shape}")
print(f"Shape of 2017-18: {nypd2017_18.shape}")
print(f"Shape of 2018-19: {nypd2018_19.shape}")
print(f"Shape of 2019-20: {nypd2019_20.shape}")

Shape of 2014-15: (477492, 9)
Shape of 2015-16: (484068, 9)
Shape of 2016-17: (468524, 9)
Shape of 2017-18: (468388, 9)
Shape of 2018-19: (455698, 9)
Shape of 2019-20: (425354, 9)

In [115]:
nypd2014_15.shape[0]+nypd2015_16.shape[0]+nypd2016_17.shape[0]+nypd2017_18.shape[0]+nypd2018_19.shape[0]+nypd2019_20.shape[0]

2779524

In [112]:
nypd2014_15['law_cat_cd'].value_counts()

MISDEMEANOR    267112
FELONY         148440
VIOLATION       61940
Name: law_cat_cd, dtype: int64

In [116]:
nypd2014_15.to_csv('../capstone_large_data_sets/nypd2014_15.csv', index = False)
nypd2015_16.to_csv('../capstone_large_data_sets/nypd2015_16.csv', index = False)
nypd2016_17.to_csv('../capstone_large_data_sets/nypd2016_17.csv', index = False)
nypd2017_18.to_csv('../capstone_large_data_sets/nypd2017_18.csv', index = False)
nypd2018_19.to_csv('../capstone_large_data_sets/nypd2018_19.csv', index = False)
nypd2019_20.to_csv('../capstone_large_data_sets/nypd2019_20.csv', index = False)

In [117]:
nypd2019_man = nypd2019_20[nypd2019_20['boro_nm'] == 'MANHATTAN']
nypd2019_bx = nypd2019_20[nypd2019_20['boro_nm'] == 'BRONX']
nypd2019_si = nypd2019_20[nypd2019_20['boro_nm'] == 'STATEN ISLAND']
nypd2019_qn = nypd2019_20[nypd2019_20['boro_nm'] == 'QUEENS']
nypd2019_bk = nypd2019_20[nypd2019_20['boro_nm'] == 'BROOKLYN']

nypd2019_man.to_csv('../big_data/2019/nypd2019_man.csv', index = False)
nypd2019_bx.to_csv('../big_data/2019/nypd2019_bx.csv', index = False)
nypd2019_si.to_csv('../big_data/2019/nypd2019_si.csv', index = False)
nypd2019_qn.to_csv('../big_data/2019/nypd2019_qn.csv', index = False)
nypd2019_bk.to_csv('../big_data/2019/nypd2019_bk.csv', index = False)