In [1]:
import pandas as pd
from scipy.spatial import distance
from math import sin, cos, sqrt, atan2, radians
import time
import shapely

from shapely.geometry import shape, Point
import shapely.wkt

In [32]:
permits = pd.read_csv('data/cleaned_permits.csv')
nypd = pd.read_csv('../capstone_large_data_sets/nypd_min.csv')

In [10]:
to_use = [321112862, 520287010, 321547215, 220635212, 440664504, 520228584]

In [25]:
new_perms = pd.DataFrame()

In [16]:
permits[permits['job_no'] == 321112862]

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,longitude,point,in_nyc,in_borough,bct2020
2794,BROOKLYN,3426514,221,MIDDLETON ST,321112862,11206,2017-10-23,INDIVIDUAL,N,40.704171,-73.94929,POINT (-73.94929 40.704171),1,BROOKLYN,3050900

In [22]:
to_use

[321112862, 520287010, 321547215, 220635212, 440664504, 520228584]

In [23]:
to_add = []
for i in to_use:
    entry = f"permits[permits['job_no'] == {i}]"
    to_add.append(entry)

In [24]:
to_add

["permits[permits['job_no'] == 321112862]",
 "permits[permits['job_no'] == 520287010]",
 "permits[permits['job_no'] == 321547215]",
 "permits[permits['job_no'] == 220635212]",
 "permits[permits['job_no'] == 440664504]",
 "permits[permits['job_no'] == 520228584]"]

In [27]:
new_perms = pd.concat([new_perms, permits[permits['job_no'] == 321112862], permits[permits['job_no'] == 520287010], permits[permits['job_no'] == 321547215], permits[permits['job_no'] == 220635212], permits[permits['job_no'] == 440664504], permits[permits['job_no'] == 520228584]])

In [34]:
new_perms

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,longitude,point,in_nyc,in_borough,bct2020
2794,BROOKLYN,3426514,221,MIDDLETON ST,321112862,11206,2017-10-23,INDIVIDUAL,N,40.704171,-73.949290,POINT (-73.94929 40.704171),1,BROOKLYN,3050900
2798,STATEN ISLAND,5165138,398,PAGE AVENUE,520287010,10307,2017-10-23,PARTNERSHIP,N,40.514573,-74.232284,POINT (-74.232284 40.514573),1,STATEN ISLAND,5024401
3067,BROOKLYN,3425205,436,FLUSHING AVENUE,321547215,11205,2017-12-19,PARTNERSHIP,N,40.698902,-73.957409,POINT (-73.957409 40.698902),1,BROOKLYN,3123700
5388,BRONX,2816717,1167,VYSE AVENUE,220635212,10459,2020-08-12,CORPORATION,N,40.827879,-73.889965,POINT (-73.889965 40.827879),1,BRONX,2012101
6667,QUEENS,4163388,64-62,230 STREET,440664504,11364,2022-01-28,INDIVIDUAL,N,40.749181,-73.747600,POINT (-73.7476 40.749181),1,QUEENS,4137700
6835,STATEN ISLAND,5171643,265,YORK AVENUE,520228584,10301,2019-01-17,INDIVIDUAL,N,40.639924,-74.088026,POINT (-74.088026 40.639924),1,STATEN ISLAND,5007700

In [35]:
permits = new_perms

In [36]:
permits.shape

(6, 15)

# Adding Complaints

In [37]:
def get_distance(point1, point2):
    R = 4182 #miles
    lat1 = radians(point1[0])
    lon1 = radians(point1[1])
    lat2 = radians(point2[0])
    lon2 = radians(point2[1])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    distance = R * c
    return distance

t0 = time.time()
for i in permits.index:
    t1 = time.time()
    print(f'Index {i} started')
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    complaint_count = 0
    for n in nypd.index:
        #if permits.loc[i, 'borough'] == nypd.loc[n, 'boro_nm']:
        n_lat = nypd.loc[n, 'latitude']
        n_long = nypd.loc[n, 'longitude']
        if (abs(lat - n_lat)<= 1/690) or (abs(lat - n_long)<= 1/400):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= .1:
                complaint_count += 1
    permits.loc[i, 'total_complaints'] = complaint_count
    print(f"For index {i}, the complaint count was {complaint_count}")
    print(f"Permit {i} finished at {time.time()}, after {time.time()-t1}, {time.time()-t0} since the start of the code.")

print('')
print("Time to run", time.time()-t0)

Index 2794 started
For index 2794, the complaint count was 1281
Permit 2794 finished at 1660300229.6589608, after 88.03672194480896, 88.03732824325562 since the start of the code.
Index 2798 started
For index 2798, the complaint count was 15
Permit 2798 finished at 1660300317.4802, after 87.82123017311096, 175.858567237854 since the start of the code.
Index 3067 started
For index 3067, the complaint count was 596
Permit 3067 finished at 1660300405.893038, after 88.4128258228302, 264.27140617370605 since the start of the code.
Index 5388 started
For index 5388, the complaint count was 1671
Permit 5388 finished at 1660300494.101784, after 88.20873498916626, 352.48015117645264 since the start of the code.
Index 6667 started
For index 6667, the complaint count was 211
Permit 6667 finished at 1660300582.223663, after 88.12186694145203, 440.6020312309265 since the start of the code.
Index 6835 started
For index 6835, the complaint count was 1455
Permit 6835 finished at 1660300670.548098, after 88.32441401481628, 528.9264650344849 since the start of the code.

Time to run 528.9267361164093

# Subway Entrances
I decided to look at numbers of entrances within tenth, half, one, and 2.5 mile radii of the permit. I wanted to find the closest entrance, along with half mile, but that would be very calculation intensive and take too long to run.

In [38]:
subways = pd.read_csv('data/subway_cleaned.csv')

In [39]:
subways.head()

,objectid,name,line,latitude,longitude
0,1734,Birchall Ave & Sagamore St at NW corner,2-5,40.849169,-73.868356
1,1735,Birchall Ave & Sagamore St at NE corner,2-5,40.849128,-73.868213
2,1736,Morris Park Ave & 180th St at NW corner,2-5,40.841223,-73.873499
3,1737,Morris Park Ave & 180th St at NW corner,2-5,40.841453,-73.872892
4,1738,Boston Rd & 178th St at SW corner,2-5,40.840815,-73.879623

In [40]:
permits.head()

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,longitude,point,in_nyc,in_borough,bct2020,total_complaints
2794,BROOKLYN,3426514,221,MIDDLETON ST,321112862,11206,2017-10-23,INDIVIDUAL,N,40.704171,-73.949290,POINT (-73.94929 40.704171),1,BROOKLYN,3050900,1281.0
2798,STATEN ISLAND,5165138,398,PAGE AVENUE,520287010,10307,2017-10-23,PARTNERSHIP,N,40.514573,-74.232284,POINT (-74.232284 40.514573),1,STATEN ISLAND,5024401,15.0
3067,BROOKLYN,3425205,436,FLUSHING AVENUE,321547215,11205,2017-12-19,PARTNERSHIP,N,40.698902,-73.957409,POINT (-73.957409 40.698902),1,BROOKLYN,3123700,596.0
5388,BRONX,2816717,1167,VYSE AVENUE,220635212,10459,2020-08-12,CORPORATION,N,40.827879,-73.889965,POINT (-73.889965 40.827879),1,BRONX,2012101,1671.0
6667,QUEENS,4163388,64-62,230 STREET,440664504,11364,2022-01-28,INDIVIDUAL,N,40.749181,-73.747600,POINT (-73.7476 40.749181),1,QUEENS,4137700,211.0

In [41]:
# note: the lati../backup_data/and longitude I'm using are in decimals NOT minutes, so I do the same here
# these are set at a tenth of a mile to start, with 1 degree late = 69 miles and 1 degree longitude = 40 miles
max_delt_lat = 1/690 #CHANGE HERE
max_delt_long = 1/400 #CHANGE HERE

t0 = time.time()
print("Tenth mile started ", t0)
permits.loc[i, 'subway_count_tenth_mi'] = 0 #CHANGE HERE
for i in permits.index:
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    entrance_count = 0
    for n in subways.index:
        n_lat = subways.loc[n, 'latitude']
        n_long = subways.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= .1: #CHANGE HERE
                entrance_count += 1
    permits.loc[i, 'subway_count_tenth_mi'] = entrance_count #CHANGE HERE

print("Time to run tenth mile:", time.time()-t0) #CHANGE HERE
print('')


max_delt_lat = 5/690 #CHANGE HERE
max_delt_long = 5/400 #CHANGE HERE

t0 = time.time()
print("Half mile started ", t0)
permits.loc[i, 'subway_count_half_mi'] = 0 #CHANGE HERE
for i in permits.index:
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    entrance_count = 0
    for n in subways.index:
        n_lat = subways.loc[n, 'latitude']
        n_long = subways.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= .5: #CHANGE HERE
                entrance_count += 1
    permits.loc[i, 'subway_count_half_mi'] = entrance_count #CHANGE HERE


print("Time to run half mile:", time.time()-t0) #CHANGE HERE
print('')


max_delt_lat = 10/690 #CHANGE HERE
max_delt_long = 10/400 #CHANGE HERE

t0 = time.time()
print("Mile started ", t0)
permits.loc[i, 'subway_count_one_mi'] = 0 #CHANGE HERE
for i in permits.index:
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    entrance_count = 0
    for n in subways.index:
        n_lat = subways.loc[n, 'latitude']
        n_long = subways.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= 1: #CHANGE HERE
                entrance_count += 1
    permits.loc[i, 'subway_count_one_mi'] = entrance_count #CHANGE HERE

print("Time to run one mile:", time.time()-t0) #CHANGE HERE
print('')

max_delt_lat = 25/690 #CHANGE HERE
max_delt_long = 25/400 #CHANGE HERE

t0 = time.time()
print("2.5 mile started ", t0)
permits.loc[i, 'subway_count_two_five_mi'] = 0 #CHANGE HERE
for i in permits.index:
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    entrance_count = 0
    for n in subways.index:
        n_lat = subways.loc[n, 'latitude']
        n_long = subways.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= 2.5: #CHANGE HERE
                entrance_count += 1
    permits.loc[i, 'subway_count_two_five_mi'] = entrance_count #CHANGE HERE

print("Time to run 2.5 mile:", time.time()-t0) #CHANGE HERE
print('')

Tenth mile started  1660300757.877124
Time to run tenth mile: 0.1482996940612793

Half mile started  1660300758.025573
Time to run half mile: 0.1310408115386963

Mile started  1660300758.15679
Time to run one mile: 0.13431811332702637

2.5 mile started  1660300758.291282
Time to run 2.5 mile: 0.1347062587738037

In [42]:
permits['subway_count_tenth_mi'].value_counts()

0.0    5
4.0    1
Name: subway_count_tenth_mi, dtype: int64

In [43]:
permits['subway_count_half_mi'].value_counts()

0.0     2
16.0    1
6.0     1
2.0     1
11.0    1
Name: subway_count_half_mi, dtype: int64

In [44]:
permits['subway_count_one_mi'].value_counts()

47.0    1
8.0     1
43.0    1
35.0    1
0.0     1
3.0     1
Name: subway_count_one_mi, dtype: int64

In [45]:
permits['subway_count_two_five_mi'].value_counts()

224.0    1
15.0     1
250.0    1
158.0    1
0.0      1
6.0      1
Name: subway_count_two_five_mi, dtype: int64

# NOTE SOMEWHERE IN THIS HISTORIC DISTRICTS AN EXTRA ROW GETS ADDED SOMEHOW.

# Historic Districts
Determining if a permit is located in a historic district.

In [49]:
for i in permits.index:
    permits.loc[i, 'hist_dist_name'] = 'none'

for i in permits.index:
    permits.loc[i, 'in_hist_dist'] = 0

## Used CSV With Latitude and Longitude Data for Historic Districts
I opted to use this instead of a shapefile because of the difficulty of converting latitude and longitude (WGS84) to NAD83. I wanted to be certain the geographic coordinates were all on the same scale.

This [stackoverflow answer](https://stackoverflow.com/a/18749373/5394724) showed me the basic approach to checking if a point is within a given area using shapely. I modified this because that answer was for one element and I have 154 historic districts, and because I used latitude and longitude from a .csv and this author used a shapefile. 

[This stackoverflow answer](https://stackoverflow.com/a/51892594/5394724) showed me how to make the shape using the long and latitude from the csv.

In [50]:
historic_dists = pd.read_csv('../historic_districts/LPC_HD_OpenData_2015Nov.csv')

In [51]:
historic_dists.columns

Index(['the_geom', 'BOROUGH', 'LP_NUMBER', 'CURRENT_', 'AREA_NAME',
       'EXTENSION', 'STATUS_OF_', 'LAST_ACTIO', 'BOUNDARY_N', 'PUBLIC_HEA',
       'OTHER_HEAR', 'DESDATE', 'CALDATE', 'Shape_Leng', 'Shape_Area'],
      dtype='object')

In [52]:
historic_dists.columns = historic_dists.columns.str.lower()

In [53]:
historic_dists.head()

,the_geom,borough,lp_number,current_,area_name,extension,status_of_,last_actio,boundary_n,public_hea,other_hear,desdate,caldate,shape_leng,shape_area
0,MULTIPOLYGON (((-73.78070476564865 40.79368791...,QN,LP-02040,Yes,Fort Totten Historic District,No,DESIGNATED,DESIGNATED,NaN,5/4/1999,NaN,6/29/1999,4/13/1999,11203.199722,4.067523e+06
1,MULTIPOLYGON (((-73.9545180987722 40.781621828...,MN,LP-01985,Yes,Hardenbergh/Rhinelander Historic District,No,DESIGNATED,DESIGNATED,NaN,3/10/1998,NaN,5/5/1998,NaN,410.860307,1.065242e+04
2,MULTIPOLYGON (((-74.00855983447059 40.71123470...,MN,LP-01901,Yes,African Burial Ground & The Commons Historic D...,No,DESIGNATED,DESIGNATED,NaN,9/1/1992,NaN,2/25/1993,NaN,4995.471462,1.069203e+06
3,MULTIPOLYGON (((-73.9595480661095 40.648261608...,BK,LP-00989,Yes,Albemarle-Kenmore Terraces Historic District,No,DESIGNATED,DESIGNATED,NaN,1/10/1978,NaN,7/11/1978,NaN,1240.770438,7.854686e+04
4,MULTIPOLYGON (((-73.96103396183 40.65868182663...,BK,LP-02567,Yes,Chester Court Historic District,No,DESIGNATED,DESIGNATED,AS IDENTIFIED BY RESEARCH DEPARTMENT (AND DETE...,11/25/2014,NaN,12/16/2014,10/28/2014,803.900855,3.840307e+04

In [54]:
t0 = time.time()

for i in range(len(historic_dists)):
    print(i)
    t1 = time.time()
    shape = shapely.wkt.loads(historic_dists['the_geom'][i])
    minx, miny, maxx, maxy = shape.bounds
    bounding_box = shapely.geometry.box(minx, miny, maxx, maxy)
    for n in permits.index:
        if permits.loc[n, 'in_hist_dist'] != 1:
            point = permits.loc[n, 'point']
            if bounding_box.contains(point):
                if shape.contains(point):
                    permits.loc[n, 'in_hist_dist'] = 1
                    permits.loc[n, 'hist_dist_name'] = historic_dists.loc[i, 'area_name']
    print(f"Time from start to end of {i} loop: {time.time()-t0}")
    print(f"Time to run the {i} loop: {time.time()-t1}")
    print('')
print(f"Total time: {time.time()-t0}")

0
Time from start to end of 0 loop: 0.010835886001586914
Time to run the 0 loop: 0.009934186935424805

1
Time from start to end of 1 loop: 0.011560916900634766
Time to run the 1 loop: 0.0006380081176757812

2
Time from start to end of 2 loop: 0.012251853942871094
Time to run the 2 loop: 0.0006620883941650391

3
Time from start to end of 3 loop: 0.0131378173828125
Time to run the 3 loop: 0.0008881092071533203

4
Time from start to end of 4 loop: 0.013798952102661133
Time to run the 4 loop: 0.0005810260772705078

5
Time from start to end of 5 loop: 0.014343023300170898
Time to run the 5 loop: 0.0005578994750976562

6
Time from start to end of 6 loop: 0.014909982681274414
Time to run the 6 loop: 0.0004818439483642578

7
Time from start to end of 7 loop: 0.015394926071166992
Time to run the 7 loop: 0.0004570484161376953

8
Time from start to end of 8 loop: 0.015869855880737305
Time to run the 8 loop: 0.0004458427429199219

9
Time from start to end of 9 loop: 0.016678810119628906
Time to run the 9 loop: 0.0007870197296142578

10
Time from start to end of 10 loop: 0.017262935638427734
Time to run the 10 loop: 0.0005519390106201172

11
Time from start to end of 11 loop: 0.017856121063232422
Time to run the 11 loop: 0.0006070137023925781

12
Time from start to end of 12 loop: 0.01861095428466797
Time to run the 12 loop: 0.0006711483001708984

13
Time from start to end of 13 loop: 0.0192718505859375
Time to run the 13 loop: 0.0006308555603027344

14
Time from start to end of 14 loop: 0.019917726516723633
Time to run the 14 loop: 0.0006208419799804688

15
Time from start to end of 15 loop: 0.02038097381591797
Time to run the 15 loop: 0.00043201446533203125

16
Time from start to end of 16 loop: 0.020964860916137695
Time to run the 16 loop: 0.0005729198455810547

17
Time from start to end of 17 loop: 0.021498918533325195
Time to run the 17 loop: 0.00045418739318847656

18
Time from start to end of 18 loop: 0.021981000900268555
Time to run the 18 loop: 0.00045490264892578125

19
Time from start to end of 19 loop: 0.022510766983032227
Time to run the 19 loop: 0.0004987716674804688

20
Time from start to end of 20 loop: 0.02291584014892578
Time to run the 20 loop: 0.0003771781921386719

21
Time from start to end of 21 loop: 0.023315906524658203
Time to run the 21 loop: 0.00037097930908203125

22
Time from start to end of 22 loop: 0.02393507957458496
Time to run the 22 loop: 0.0005850791931152344

23
Time from start to end of 23 loop: 0.02440190315246582
Time to run the 23 loop: 0.00038504600524902344

24
Time from start to end of 24 loop: 0.024862051010131836
Time to run the 24 loop: 0.0004239082336425781

25
Time from start to end of 25 loop: 0.025342941284179688
Time to run the 25 loop: 0.0004601478576660156

26
Time from start to end of 26 loop: 0.025943756103515625
Time to run the 26 loop: 0.00051116943359375

27
Time from start to end of 27 loop: 0.026495933532714844
Time to run the 27 loop: 0.0005271434783935547

28
Time from start to end of 28 loop: 0.027025938034057617
Time to run the 28 loop: 0.0005612373352050781

29
Time from start to end of 29 loop: 0.027501821517944336
Time to run the 29 loop: 0.00039124488830566406

30
Time from start to end of 30 loop: 0.028845787048339844
Time to run the 30 loop: 0.0013270378112792969

31
Time from start to end of 31 loop: 0.03008890151977539
Time to run the 31 loop: 0.0012660026550292969

32
Time from start to end of 32 loop: 0.03131985664367676
Time to run the 32 loop: 0.0009400844573974609

33
Time from start to end of 33 loop: 0.03214693069458008
Time to run the 33 loop: 0.000759124755859375

34
Time from start to end of 34 loop: 0.033026933670043945
Time to run the 34 loop: 0.0008380413055419922

35
Time from start to end of 35 loop: 0.033650875091552734
Time to run the 35 loop: 0.0006649494171142578

36
Time from start to end of 36 loop: 0.034140825271606445
Time to run the 36 loop: 0.0003867149353027344

37
Time from start to end of 37 loop: 0.03496599197387695
Time to run the 37 loop: 0.0007827281951904297

38
Time from start to end of 38 loop: 0.03578495979309082
Time to run the 38 loop: 0.0007891654968261719

39
Time from start to end of 39 loop: 0.036412954330444336
Time to run the 39 loop: 0.0006029605865478516

40
Time from start to end of 40 loop: 0.03700900077819824
Time to run the 40 loop: 0.0006358623504638672

41
Time from start to end of 41 loop: 0.03757596015930176
Time to run the 41 loop: 0.00047278404235839844

42
Time from start to end of 42 loop: 0.038115739822387695
Time to run the 42 loop: 0.0005018711090087891

43
Time from start to end of 43 loop: 0.03869295120239258
Time to run the 43 loop: 0.0004849433898925781

44
Time from start to end of 44 loop: 0.03954005241394043
Time to run the 44 loop: 0.0007140636444091797

45
Time from start to end of 45 loop: 0.04018092155456543
Time to run the 45 loop: 0.0006840229034423828

46
Time from start to end of 46 loop: 0.04089975357055664
Time to run the 46 loop: 0.000492095947265625

47
Time from start to end of 47 loop: 0.041404008865356445
Time to run the 47 loop: 0.0004749298095703125

48
Time from start to end of 48 loop: 0.04204988479614258
Time to run the 48 loop: 0.0006158351898193359

49
Time from start to end of 49 loop: 0.0425417423248291
Time to run the 49 loop: 0.0004699230194091797

50
Time from start to end of 50 loop: 0.04303908348083496
Time to run the 50 loop: 0.0004017353057861328

51
Time from start to end of 51 loop: 0.04370689392089844
Time to run the 51 loop: 0.0007040500640869141

52
Time from start to end of 52 loop: 0.044404029846191406
Time to run the 52 loop: 0.0006060600280761719

53
Time from start to end of 53 loop: 0.04517197608947754
Time to run the 53 loop: 0.0007281303405761719

54
Time from start to end of 54 loop: 0.04604482650756836
Time to run the 54 loop: 0.0007822513580322266

55
Time from start to end of 55 loop: 0.046486854553222656
Time to run the 55 loop: 0.00040793418884277344

56
Time from start to end of 56 loop: 0.047032833099365234
Time to run the 56 loop: 0.0005660057067871094

57
Time from start to end of 57 loop: 0.047553062438964844
Time to run the 57 loop: 0.0004298686981201172

58
Time from start to end of 58 loop: 0.04794883728027344
Time to run the 58 loop: 0.0003662109375

59
Time from start to end of 59 loop: 0.04864907264709473
Time to run the 59 loop: 0.0006668567657470703

60
Time from start to end of 60 loop: 0.049063920974731445
Time to run the 60 loop: 0.0003838539123535156

61
Time from start to end of 61 loop: 0.049501895904541016
Time to run the 61 loop: 0.0004069805145263672

62
Time from start to end of 62 loop: 0.05027008056640625
Time to run the 62 loop: 0.0007920265197753906

63
Time from start to end of 63 loop: 0.050923824310302734
Time to run the 63 loop: 0.0005500316619873047

64
Time from start to end of 64 loop: 0.05153679847717285
Time to run the 64 loop: 0.000576019287109375

65
Time from start to end of 65 loop: 0.05202198028564453
Time to run the 65 loop: 0.0004520416259765625

66
Time from start to end of 66 loop: 0.05262589454650879
Time to run the 66 loop: 0.000576019287109375

67
Time from start to end of 67 loop: 0.05322885513305664
Time to run the 67 loop: 0.0004360675811767578

68
Time from start to end of 68 loop: 0.054396867752075195
Time to run the 68 loop: 0.0010077953338623047

69
Time from start to end of 69 loop: 0.05485391616821289
Time to run the 69 loop: 0.00038695335388183594

70
Time from start to end of 70 loop: 0.0557248592376709
Time to run the 70 loop: 0.0008361339569091797

71
Time from start to end of 71 loop: 0.056282997131347656
Time to run the 71 loop: 0.0004661083221435547

72
Time from start to end of 72 loop: 0.05705404281616211
Time to run the 72 loop: 0.0006670951843261719

73
Time from start to end of 73 loop: 0.057495832443237305
Time to run the 73 loop: 0.00041103363037109375

74
Time from start to end of 74 loop: 0.0581820011138916
Time to run the 74 loop: 0.0005810260772705078

75
Time from start to end of 75 loop: 0.05886483192443848
Time to run the 75 loop: 0.0005848407745361328

76
Time from start to end of 76 loop: 0.059439897537231445
Time to run the 76 loop: 0.0006058216094970703

77
Time from start to end of 77 loop: 0.06013798713684082
Time to run the 77 loop: 0.0005371570587158203

78
Time from start to end of 78 loop: 0.06060290336608887
Time to run the 78 loop: 0.00043702125549316406

79
Time from start to end of 79 loop: 0.0613398551940918
Time to run the 79 loop: 0.000705718994140625

80
Time from start to end of 80 loop: 0.06208395957946777
Time to run the 80 loop: 0.0007119178771972656

81
Time from start to end of 81 loop: 0.06288599967956543
Time to run the 81 loop: 0.0007688999176025391

82
Time from start to end of 82 loop: 0.06334090232849121
Time to run the 82 loop: 0.00036597251892089844

83
Time from start to end of 83 loop: 0.06373190879821777
Time to run the 83 loop: 0.00036215782165527344

84
Time from start to end of 84 loop: 0.06420493125915527
Time to run the 84 loop: 0.0004420280456542969

85
Time from start to end of 85 loop: 0.06458282470703125
Time to run the 85 loop: 0.0003509521484375

86
Time from start to end of 86 loop: 0.06502676010131836
Time to run the 86 loop: 0.00041413307189941406

87
Time from start to end of 87 loop: 0.06552505493164062
Time to run the 87 loop: 0.0004291534423828125

88
Time from start to end of 88 loop: 0.06622481346130371
Time to run the 88 loop: 0.0007300376892089844

89
Time from start to end of 89 loop: 0.0666968822479248
Time to run the 89 loop: 0.0003829002380371094

90
Time from start to end of 90 loop: 0.06708478927612305
Time to run the 90 loop: 0.0003590583801269531

91
Time from start to end of 91 loop: 0.06786274909973145
Time to run the 91 loop: 0.0007450580596923828

92
Time from start to end of 92 loop: 0.06832289695739746
Time to run the 92 loop: 0.000431060791015625

93
Time from start to end of 93 loop: 0.06876397132873535
Time to run the 93 loop: 0.0004658699035644531

94
Time from start to end of 94 loop: 0.06920099258422852
Time to run the 94 loop: 0.00047588348388671875

95
Time from start to end of 95 loop: 0.06974291801452637
Time to run the 95 loop: 0.0004649162292480469

96
Time from start to end of 96 loop: 0.07027482986450195
Time to run the 96 loop: 0.0004382133483886719

97
Time from start to end of 97 loop: 0.07062983512878418
Time to run the 97 loop: 0.0003287792205810547

98
Time from start to end of 98 loop: 0.07100605964660645
Time to run the 98 loop: 0.00034308433532714844

99
Time from start to end of 99 loop: 0.07149982452392578
Time to run the 99 loop: 0.0004527568817138672

100
Time from start to end of 100 loop: 0.07192182540893555
Time to run the 100 loop: 0.0004069805145263672

101
Time from start to end of 101 loop: 0.07231903076171875
Time to run the 101 loop: 0.0003657341003417969

102
Time from start to end of 102 loop: 0.07271790504455566
Time to run the 102 loop: 0.0003218650817871094

103
Time from start to end of 103 loop: 0.07324600219726562
Time to run the 103 loop: 0.0004999637603759766

104
Time from start to end of 104 loop: 0.07369184494018555
Time to run the 104 loop: 0.0004248619079589844

105
Time from start to end of 105 loop: 0.07427477836608887
Time to run the 105 loop: 0.0005650520324707031

106
Time from start to end of 106 loop: 0.07472801208496094
Time to run the 106 loop: 0.00041294097900390625

107
Time from start to end of 107 loop: 0.07517290115356445
Time to run the 107 loop: 0.00043201446533203125

108
Time from start to end of 108 loop: 0.0756528377532959
Time to run the 108 loop: 0.0004940032958984375

109
Time from start to end of 109 loop: 0.07664704322814941
Time to run the 109 loop: 0.0009179115295410156

110
Time from start to end of 110 loop: 0.07720398902893066
Time to run the 110 loop: 0.0005218982696533203

111
Time from start to end of 111 loop: 0.07781195640563965
Time to run the 111 loop: 0.0005817413330078125

112
Time from start to end of 112 loop: 0.07846784591674805
Time to run the 112 loop: 0.0006310939788818359

113
Time from start to end of 113 loop: 0.07945394515991211
Time to run the 113 loop: 0.0010190010070800781

114
Time from start to end of 114 loop: 0.07987689971923828
Time to run the 114 loop: 0.0003440380096435547

115
Time from start to end of 115 loop: 0.08018803596496582
Time to run the 115 loop: 0.00029015541076660156

116
Time from start to end of 116 loop: 0.08059811592102051
Time to run the 116 loop: 0.0003910064697265625

117
Time from start to end of 117 loop: 0.08107972145080566
Time to run the 117 loop: 0.0004611015319824219

118
Time from start to end of 118 loop: 0.08159995079040527
Time to run the 118 loop: 0.0004980564117431641

119
Time from start to end of 119 loop: 0.08191990852355957
Time to run the 119 loop: 0.0002999305725097656

120
Time from start to end of 120 loop: 0.08228588104248047
Time to run the 120 loop: 0.00040602684020996094

121
Time from start to end of 121 loop: 0.08306384086608887
Time to run the 121 loop: 0.0007407665252685547

122
Time from start to end of 122 loop: 0.08372306823730469
Time to run the 122 loop: 0.0005228519439697266

123
Time from start to end of 123 loop: 0.08411383628845215
Time to run the 123 loop: 0.00033736228942871094

124
Time from start to end of 124 loop: 0.08442091941833496
Time to run the 124 loop: 0.0002911090850830078

125
Time from start to end of 125 loop: 0.08484482765197754
Time to run the 125 loop: 0.0003998279571533203

126
Time from start to end of 126 loop: 0.0851600170135498
Time to run the 126 loop: 0.0002970695495605469

127
Time from start to end of 127 loop: 0.08559894561767578
Time to run the 127 loop: 0.0004119873046875

128
Time from start to end of 128 loop: 0.08590888977050781
Time to run the 128 loop: 0.0002932548522949219

129
Time from start to end of 129 loop: 0.08629679679870605
Time to run the 129 loop: 0.0004258155822753906

130
Time from start to end of 130 loop: 0.08673095703125
Time to run the 130 loop: 0.0003502368927001953

131
Time from start to end of 131 loop: 0.08735990524291992
Time to run the 131 loop: 0.0005519390106201172

132
Time from start to end of 132 loop: 0.08764886856079102
Time to run the 132 loop: 0.0002713203430175781

133
Time from start to end of 133 loop: 0.08799076080322266
Time to run the 133 loop: 0.0003261566162109375

134
Time from start to end of 134 loop: 0.08830690383911133
Time to run the 134 loop: 0.00029921531677246094

135
Time from start to end of 135 loop: 0.08861398696899414
Time to run the 135 loop: 0.00029015541076660156

136
Time from start to end of 136 loop: 0.08910489082336426
Time to run the 136 loop: 0.0004699230194091797

137
Time from start to end of 137 loop: 0.08939814567565918
Time to run the 137 loop: 0.0003349781036376953

138
Time from start to end of 138 loop: 0.08979105949401855
Time to run the 138 loop: 0.0003161430358886719

139
Time from start to end of 139 loop: 0.09039807319641113
Time to run the 139 loop: 0.0005888938903808594

140
Time from start to end of 140 loop: 0.09083080291748047
Time to run the 140 loop: 0.00041794776916503906

141
Time from start to end of 141 loop: 0.09134387969970703
Time to run the 141 loop: 0.00049591064453125

142
Time from start to end of 142 loop: 0.09162592887878418
Time to run the 142 loop: 0.0002658367156982422

143
Time from start to end of 143 loop: 0.09194779396057129
Time to run the 143 loop: 0.0003020763397216797

144
Time from start to end of 144 loop: 0.09220099449157715
Time to run the 144 loop: 0.00023603439331054688

145
Time from start to end of 145 loop: 0.09249591827392578
Time to run the 145 loop: 0.0003311634063720703

146
Time from start to end of 146 loop: 0.0928490161895752
Time to run the 146 loop: 0.0002799034118652344

147
Time from start to end of 147 loop: 0.09316778182983398
Time to run the 147 loop: 0.0003020763397216797

148
Time from start to end of 148 loop: 0.09350299835205078
Time to run the 148 loop: 0.0003218650817871094

149
Time from start to end of 149 loop: 0.09380102157592773
Time to run the 149 loop: 0.00028324127197265625

150
Time from start to end of 150 loop: 0.09408903121948242
Time to run the 150 loop: 0.0002701282501220703

151
Time from start to end of 151 loop: 0.09443998336791992
Time to run the 151 loop: 0.0003330707550048828

152
Time from start to end of 152 loop: 0.09472489356994629
Time to run the 152 loop: 0.00026988983154296875

153
Time from start to end of 153 loop: 0.0949699878692627
Time to run the 153 loop: 0.0002219676971435547

Total time: 0.09508585929870605

In [55]:
permits["in_hist_dist"].value_counts()

0.0    7
Name: in_hist_dist, dtype: int64

# Distance to Parks
I want to know how far the closest park is. I also want to know how many parks are within a given distance. I plan to use .1, .5, 1, and 2.5 miles as I did for the subway stops.

[This stackoverflow question](https://stackoverflow.com/questions/33311616/find-coordinate-of-the-closest-point-on-polygon-in-shapely) itself actually showed me that `point.distance()` will get me what I want.

This is very similar to the historic districts, but now I'm looking at distance from, not whether or not it falls within.

In [56]:
parks = pd.read_csv('data/parks.csv')

In [57]:
parks.head()

,address,borough,name311,objectid,zipcode,multipolygon
0,132 ALTAMONT STREET,STATEN ISLAND,High Rock Park,69247,1030410306,MULTIPOLYGON (((-74.12362180687407 40.58475747...
1,2539 PITKIN AVENUE,BROOKLYN,Manley's Pl,5274,11208,MULTIPOLYGON (((-73.87857041022092 40.67475246...
2,none,QUEENS,Park,6413,11414,MULTIPOLYGON (((-73.8471858043584 40.669606352...
3,225 JORALEMON STREET,BROOKLYN,Columbus Park,5062,11201,MULTIPOLYGON (((-73.98911885717008 40.69492270...
4,400 EAST 188 STREET,BRONX,Webster Playground,4764,10458,MULTIPOLYGON (((-73.89239779472493 40.85937697...

In [58]:
def shape_list(multipolygons):
    shape_list = []
    for i in range(0, len(multipolygons)):
        name = f'shape{i}'
        name = shapely.wkt.loads(multipolygons[i])
        shape_list.append(name)
    return shape_list

In [59]:
parks_shapes = shape_list(parks['multipolygon'])

In [60]:
parks_shapes[0]

### Turning Distance Calcuation into Miles
This distance is in degrees. 1 degree latitude ~= to 69 miles. 1 degree longitude ~= 40 miles at NYC's latitude.

I'm going to treat a degree as equal to 54.5 miles, the average of the lengths of the two different kinds of degrees, for the purpose of these distance calculations. This means that my calculations of distance could be off by as much as 36.25%, if the change in position is actually only a change in longitude, latitude staying the same (in other words, 1 degree change actually equaling 40 miles). For a change only in latitude (longitude staying the same), the error rate is 21%.

Unfortunately, given the time line I'm on, I'm going to accept this level of imprecision. 

I tested the code on the following two entries from parks and from permits. My calculation of 14.13 miles is reasonably accurate.

I used [this website](https://www.mapdevelopers.com/distance_from_to.php) to the straight line distance between the two _addresses_ and got 16.67 miles, which is close. It's also important to note that the closest edge of the park is actually nearer to the site in permits than the location of the street address of the park. So it appears that this code is working in the right direction.

In [63]:
t0 = time.time()

for i in permits.index:
    t1 = time.time()
    print(f'Permit {i} started.')
    #point = shapely.wkt.loads(permits['point'][i])
    point = permits['point'][i]
    close_park = 99999
    name_close_park = ''
    for n in range(0, len(parks_shapes)):
        distance = point.distance(parks_shapes[n])*54.5
        if distance < close_park:
            close_park = distance
            name_close_park = parks.loc[n, 'name311']
    permits.loc[i, 'closest_park'] = close_park
    permits.loc[i, 'name_closest_park'] = name_close_park
    print(f"Permit {i} finished at {time.time()}, after {time.time()-t1}, {time.time()-t0} since the start of the permit {i} code.")
print(f'Time to complete code: {time.time()-t0}')

Permit 2794 started.
Permit 2794 finished at 1660300950.229833, after 0.023794174194335938, 0.02475285530090332 since the start of the permit 2794 code.
Permit 2798 started.
Permit 2798 finished at 1660300950.242919, after 0.012944936752319336, 0.03783822059631348 since the start of the permit 2798 code.
Permit 3067 started.
Permit 3067 finished at 1660300950.2553, after 0.012291193008422852, 0.050222158432006836 since the start of the permit 3067 code.
Permit 5388 started.
Permit 5388 finished at 1660300950.266659, after 0.011266708374023438, 0.06157803535461426 since the start of the permit 5388 code.
Permit 6667 started.
Permit 6667 finished at 1660300950.277709, after 0.010977029800415039, 0.07262587547302246 since the start of the permit 6667 code.
Permit 6835 started.
Permit 6835 finished at 1660300950.287328, after 0.009559154510498047, 0.0822441577911377 since the start of the permit 6835 code.
Permit 0 started.
Permit 0 finished at 1660300950.291751, after 0.004386186599731445, 0.08666610717773438 since the start of the permit 0 code.
Time to complete code: 0.08678507804870605

Looking at some of these to make sure they make sense... They line up. Interestingly, the Malls on Broadway are considered a park. So an address on Broadway is considered to be at a park.

In [64]:
permits.head()

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,...,bct2020,total_complaints,subway_count_tenth_mi,subway_count_half_mi,subway_count_one_mi,subway_count_two_five_mi,hist_dist_name,in_hist_dist,closest_park,name_closest_park
2794,BROOKLYN,3426514.0,221,MIDDLETON ST,321112862.0,11206.0,2017-10-23,INDIVIDUAL,N,40.704171,...,3050900.0,1281.0,4.0,16.0,47.0,224.0,none,0.0,0.046382,Lindsay Triangle
2798,STATEN ISLAND,5165138.0,398,PAGE AVENUE,520287010.0,10307.0,2017-10-23,PARTNERSHIP,N,40.514573,...,5024401.0,15.0,0.0,6.0,8.0,15.0,none,0.0,0.010345,Long Pond Park
3067,BROOKLYN,3425205.0,436,FLUSHING AVENUE,321547215.0,11205.0,2017-12-19,PARTNERSHIP,N,40.698902,...,3123700.0,596.0,0.0,2.0,43.0,250.0,none,0.0,0.123985,Sarah J.S. Tompkins Garnet Playground
5388,BRONX,2816717.0,1167,VYSE AVENUE,220635212.0,10459.0,2020-08-12,CORPORATION,N,40.827879,...,2012101.0,1671.0,0.0,11.0,35.0,158.0,none,0.0,0.083294,Synergi Urban Garden UCFP
6667,QUEENS,4163388.0,64-62,230 STREET,440664504.0,11364.0,2022-01-28,INDIVIDUAL,N,40.749181,...,4137700.0,211.0,0.0,0.0,0.0,0.0,none,0.0,0.135075,Alley Park

## Parks within a given radius

In [66]:
# note: the lati../backup_data/and longitude I'm using are in decimals NOT minutes, so I do the same here
# these are set at a tenth of a mile to start, with 1 degree lat = 69 miles and 1 degree longitude = 40 miles
max_delt_lat = 1/690 #CHANGE HERE
max_delt_long = 1/400 #CHANGE HERE

t0 = time.time()
print("Tenth mile started ", t0)
for i in permits.index:
    count = 0
    #point = shapely.wkt.loads(permits.loc[i, 'point'])
    point = permits.loc[i, 'point']
    for n in range(0, len(parks_shapes)):
        distance = point.distance(parks_shapes[n])*54.5
        if distance < .1: # CHANGE HERE
            count += 1
    permits.loc[i, 'park_count_tenth_mi'] = count #CHANGE HERE

print("Time to run tenth mile:", time.time()-t0) #CHANGE HERE
print('')


max_delt_lat = 5/690 #CHANGE HERE
max_delt_long = 5/400 #CHANGE HERE

t0 = time.time()
print("Half mile started ", t0)
for i in permits.index:
    count = 0
    #point = shapely.wkt.loads(permits.loc[i, 'point'])
    point = permits.loc[i, 'point']
    for n in range(0, len(parks_shapes)):
        distance = point.distance(parks_shapes[n])*54.5
        if distance < .5: # CHANGE HERE
            count += 1
    permits.loc[i, 'park_count_half_mi'] = count #CHANGE HERE

print("Time to run half mile:", time.time()-t0) #CHANGE HERE
print('')


max_delt_lat = 10/690 #CHANGE HERE
max_delt_long = 10/400 #CHANGE HERE

t0 = time.time()
print("Mile started ", t0)
for i in permits.index:
    count = 0
    #point = shapely.wkt.loads(permits.loc[i, 'point'])
    point = permits.loc[i, 'point']
    for n in range(0, len(parks_shapes)):
        distance = point.distance(parks_shapes[n])*54.5
        if distance < 1: # CHANGE HERE
            count += 1
    permits.loc[i, 'park_count_one_mi'] = count #CHANGE HERE

print("Time to run one mile:", time.time()-t0) #CHANGE HERE
print('')

max_delt_lat = 25/690 #CHANGE HERE
max_delt_long = 25/400 #CHANGE HERE

t0 = time.time()
print("2.5 mile started ", t0)
for i in permits.index:
    count = 0
    #point = shapely.wkt.loads(permits.loc[i, 'point'])
    point = permits.loc[i, 'point']
    for n in range(0, len(parks_shapes)):
        distance = point.distance(parks_shapes[n])*54.5
        if distance < 2.5: # CHANGE HERE
            count += 1
    permits.loc[i, 'park_count_two_five_mi'] = count #CHANGE HERE

print("Time to run 2.5 mile:", time.time()-t0) #CHANGE HERE
print('')

Tenth mile started  1660301065.6275258
Time to run tenth mile: 0.07146620750427246

Half mile started  1660301065.69917
Time to run half mile: 0.05182003974914551

Mile started  1660301065.7511349
Time to run one mile: 0.05129599571228027

2.5 mile started  1660301065.8025541
Time to run 2.5 mile: 0.053021907806396484

In [67]:
permits.head()

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,...,subway_count_one_mi,subway_count_two_five_mi,hist_dist_name,in_hist_dist,closest_park,name_closest_park,park_count_tenth_mi,park_count_half_mi,park_count_one_mi,park_count_two_five_mi
2794,BROOKLYN,3426514.0,221,MIDDLETON ST,321112862.0,11206.0,2017-10-23,INDIVIDUAL,N,40.704171,...,47.0,224.0,none,0.0,0.046382,Lindsay Triangle,4.0,28.0,103.0,368.0
2798,STATEN ISLAND,5165138.0,398,PAGE AVENUE,520287010.0,10307.0,2017-10-23,PARTNERSHIP,N,40.514573,...,8.0,15.0,none,0.0,0.010345,Long Pond Park,1.0,5.0,8.0,19.0
3067,BROOKLYN,3425205.0,436,FLUSHING AVENUE,321547215.0,11205.0,2017-12-19,PARTNERSHIP,N,40.698902,...,43.0,250.0,none,0.0,0.123985,Sarah J.S. Tompkins Garnet Playground,0.0,19.0,99.0,380.0
5388,BRONX,2816717.0,1167,VYSE AVENUE,220635212.0,10459.0,2020-08-12,CORPORATION,N,40.827879,...,35.0,158.0,none,0.0,0.083294,Synergi Urban Garden UCFP,2.0,27.0,84.0,318.0
6667,QUEENS,4163388.0,64-62,230 STREET,440664504.0,11364.0,2022-01-28,INDIVIDUAL,N,40.749181,...,0.0,0.0,none,0.0,0.135075,Alley Park,0.0,3.0,20.0,66.0

In [78]:
permits

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,longitude,point,in_nyc,in_borough,bct2020,total_complaints,subway_count_tenth_mi,subway_count_half_mi,subway_count_one_mi,subway_count_two_five_mi,hist_dist_name,in_hist_dist,closest_park,name_closest_park,park_count_tenth_mi,park_count_half_mi,park_count_one_mi,park_count_two_five_mi
2794,BROOKLYN,3426514.0,221,MIDDLETON ST,321112862.0,11206.0,2017-10-23,INDIVIDUAL,N,40.704171,-73.949290,POINT (-73.94929 40.704171),1.0,BROOKLYN,3050900.0,1281.0,4.0,16.0,47.0,224.0,none,0.0,0.046382,Lindsay Triangle,4.0,28.0,103.0,368.0
2798,STATEN ISLAND,5165138.0,398,PAGE AVENUE,520287010.0,10307.0,2017-10-23,PARTNERSHIP,N,40.514573,-74.232284,POINT (-74.232284 40.514573),1.0,STATEN ISLAND,5024401.0,15.0,0.0,6.0,8.0,15.0,none,0.0,0.010345,Long Pond Park,1.0,5.0,8.0,19.0
3067,BROOKLYN,3425205.0,436,FLUSHING AVENUE,321547215.0,11205.0,2017-12-19,PARTNERSHIP,N,40.698902,-73.957409,POINT (-73.957409 40.698902),1.0,BROOKLYN,3123700.0,596.0,0.0,2.0,43.0,250.0,none,0.0,0.123985,Sarah J.S. Tompkins Garnet Playground,0.0,19.0,99.0,380.0
5388,BRONX,2816717.0,1167,VYSE AVENUE,220635212.0,10459.0,2020-08-12,CORPORATION,N,40.827879,-73.889965,POINT (-73.889965 40.827879),1.0,BRONX,2012101.0,1671.0,0.0,11.0,35.0,158.0,none,0.0,0.083294,Synergi Urban Garden UCFP,2.0,27.0,84.0,318.0
6667,QUEENS,4163388.0,64-62,230 STREET,440664504.0,11364.0,2022-01-28,INDIVIDUAL,N,40.749181,-73.747600,POINT (-73.7476 40.749181),1.0,QUEENS,4137700.0,211.0,0.0,0.0,0.0,0.0,none,0.0,0.135075,Alley Park,0.0,3.0,20.0,66.0
6835,STATEN ISLAND,5171643.0,265,YORK AVENUE,520228584.0,10301.0,2019-01-17,INDIVIDUAL,N,40.639924,-74.088026,POINT (-74.088026 40.639924),1.0,STATEN ISLAND,5007700.0,1455.0,0.0,0.0,3.0,6.0,none,0.0,0.039747,Skyline Playground,2.0,10.0,23.0,62.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,0.0,0.000000,High Rock Park,2030.0,2030.0,2030.0,2030.0

In [77]:
permits.to_csv('data/added_permits.csv', index = False)