In [89]:
import pandas as pd
from scipy.spatial import distance
from math import sin, cos, sqrt, atan2, radians
import time
import shapely
import fiona

from shapely.geometry import shape, Point
import shapely.wkt

from pyproj import Proj, transform

In [106]:
permits = pd.read_csv('data/nbrespermits.csv')
nypd2014_15 = pd.read_csv('../capstone_large_data_sets/nypd2014_15.csv')

In [107]:
permits.head()

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,longitude
0,MANHATTAN,1056547,2686,BROADWAY,121207354,10025,2022-05-11,PARTNERSHIP,N,40.798817,-73.968740
1,MANHATTAN,1812187,140,HILLSIDE AVENUE,121189524,10040,2022-05-11,CORPORATION,N,40.860296,-73.926125
2,BRONX,2823631,368,EAST 152 STREET,220586168,10455,2022-05-11,INDIVIDUAL,N,40.818565,-73.918118
3,BROOKLYN,3429007,3410,FARRAGUT ROAD,321588215,11210,2022-05-18,INDIVIDUAL,N,40.636513,-73.943944
4,BROOKLYN,3121674,1457,FLATBUSH AVENUE,321827163,11210,2022-05-11,CORPORATION,N,40.634773,-73.949721

In [108]:
nypd2014_15.head()

,cmplnt_num,cmplnt_fr_dt,law_cat_cd,boro_nm,addr_pct_cd,x_coord_cd,y_coord_cd,latitude,longitude
0,604271687,2015-03-01,FELONY,BRONX,48.0,1011779.0,246746.0,40.843901,-73.900505
1,990784784,2014-08-31,FELONY,BRONX,40.0,1009013.0,236135.0,40.814785,-73.910541
2,202268858,2015-01-01,MISDEMEANOR,BRONX,43.0,1020316.0,239179.0,40.823101,-73.869690
3,314003026,2015-04-01,MISDEMEANOR,MANHATTAN,34.0,1003518.0,249492.0,40.851460,-73.930354
4,117537458,2014-11-10,FELONY,QUEENS,114.0,1007654.0,219564.0,40.769306,-73.915508

## Breaking Data Up By Borough
Because the code to find the number of complaints within .1 miles takes a while to run, I broke the data up by borough. Ultimately, I broke Brooklyn's data up even further (see below).

In [111]:
permits_man = permits[permits['borough'] == 'MANHATTAN']
nypd2014_man = nypd2014_15[nypd2014_15['boro_nm'] == 'MANHATTAN']

permits_bx = permits[permits['borough'] == 'BRONX']
nypd2014_bx = nypd2014_15[nypd2014_15['boro_nm'] == 'BRONX']

permits_si = permits[permits['borough'] == 'STATEN ISLAND']
nypd2014_si = nypd2014_15[nypd2014_15['boro_nm'] == 'STATEN ISLAND']

permits_qn = permits[permits['borough'] == 'QUEENS']
nypd2014_qn = nypd2014_15[nypd2014_15['boro_nm'] == 'QUEENS']

permits_bk = permits[permits['borough'] == 'BROOKLYN']
nypd2014_bk = nypd2014_15[nypd2014_15['boro_nm'] == 'BROOKLYN']

In [112]:
permits_man.to_csv('boro_data/permits_man.csv', index = False)
nypd2014_man.to_csv('../big_data/nypd2014_man.csv', index = False)

permits_bx.to_csv('boro_data/permits_bx.csv', index = False)
nypd2014_bx.to_csv('../big_data/nypd2014_bx.csv', index = False)

permits_si.to_csv('boro_data/permits_si.csv', index = False)
nypd2014_si.to_csv('../big_data/nypd2014_si.csv', index = False)

permits_qn.to_csv('boro_data/permits_qn.csv', index = False)
nypd2014_qn.to_csv('../big_data/nypd2014_qn.csv', index = False)

permits_bk.to_csv('boro_data/permits_bk.csv', index = False)
nypd2014_bk.to_csv('../big_data/nypd2014_bk.csv', index = False)

### Splitting Brooklyn Up
I found I needed to split Brooklyn up to get a result. AWS kept breaking off what was running in my instance before the Brooklyn dataset could finish running.

In [114]:
permits_bk.shape

(2193, 11)

In [118]:
permits_bk1 = permits_bk[:731]
permits_bk2 = permits_bk[731:1462]
permits_bk3 = permits_bk[1462:]

In [119]:
print(permits_bk1.shape)
print(permits_bk2.shape)
print(permits_bk3.shape)

(731, 11)
(731, 11)
(731, 11)

In [120]:
permits_bk1.to_csv('boro_data/permits_bk1.csv', index = False)
permits_bk2.to_csv('boro_data/permits_bk2.csv', index = False)
permits_bk3.to_csv('boro_data/permits_bk3.csv', index = False)

# The Code for Complaints
I tried many iterations to speed it up and ultimately landed on this. This version of it is set up for a test on the first row of data.

I ultimately realized that seting a value for max_delt_lat and max_delt_long instead of using a variable, while making it harder to change that value quickly, would likely make the code a little faster.

[This stackoverflow](https://stackoverflow.com/questions/66470898/finding-pairs-of-latitude-and-longitude-within-a-certain-radius-in-python) was the first source I found for code on calculating distance between two points. It was largely sourced from this
[the stackoverflow](https://stackoverflow.com/questions/57294120/calculating-distance-between-latitude-and-longitude-in-python), which the first author cites. This second answer (combined with [this Earth fact sheet from Nasa](https://nssdc.gsfc.nasa.gov/planetary/factsheet/earthfact.html)) clarifies that R is the volumetric mean radius, or 6371 in km. This translates to 4182 miles.

I used 69 miles to the degree latitude, though it varies some.

At 48 degrees latitude, 1 degree longitude is about 40 miles. I used [this calculator](https://www.nhc.noaa.gov/gccalc.shtml) to find that.

In [124]:
def get_distance(point1, point2):
    R = 4182 #miles
    lat1 = radians(point1[0])  #insert value
    lon1 = radians(point1[1])
    lat2 = radians(point2[0])
    lon2 = radians(point2[1])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    distance = R * c
    return distance


# note: the latitude and longitude I'm using are in decimals NOT minutes, so I do the same here
# these are set at a tenth of a mile to start, with 1 degree late = 69 miles and 1 degree longitude = 40 miles
max_delt_lat = 1/690
max_delt_long = 1/400


t0 = time.time()
for i in [0]: #<----THIS IS SET UP FOR A TEST
    lat = permits_man.loc[i, 'latitude']
    long = permits_man.loc[i, 'longitude']
    point1 = [lat, long]
    complaint_count = 0
    for n in nypd2014_man.index:
        n_lat = nypd2014_man.loc[n, 'latitude']
        n_long = nypd2014_man.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= .1:
                complaint_count += 1
    permits_man.loc[i, 'complaints2014_15'] = complaint_count

print('')
print("Time to run", time.time()-t0)

Time to run 1.582650899887085

/var/folders/5_/498w081d1837cc82dmb4hwmc0000gn/T/ipykernel_43538/82551024.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  permits_man.loc[i, 'complaints2014_15'] = complaint_count

### Separate `.py` Files For the Cloud
I took the above code and put it into `.py` files to run in AWS. I wound up needing more than one because AWS interrupted the file before it had finished producing all its outputs.

#### Some Notes on AWS
240 Manhattan entries took 871.3408896923065 seconds in the cloud.

I used Ubuntu and c3.8xlarge

This looks like it might be faster c5a.8xlarge

# Subway Entrances
I decided to look at numbers of entrances within tenth, half, one, and 2.5 mile radii of the permit. I wanted to find the closest entrance, along with half mile, but that would be very calculation intensive and take too long to run.

In [125]:
subways = pd.read_csv('data/subway_cleaned.csv')

In [126]:
subways.head()

,objectid,name,line,latitude,longitude
0,1734,Birchall Ave & Sagamore St at NW corner,2-5,40.849169,-73.868356
1,1735,Birchall Ave & Sagamore St at NE corner,2-5,40.849128,-73.868213
2,1736,Morris Park Ave & 180th St at NW corner,2-5,40.841223,-73.873499
3,1737,Morris Park Ave & 180th St at NW corner,2-5,40.841453,-73.872892
4,1738,Boston Rd & 178th St at SW corner,2-5,40.840815,-73.879623

In [130]:
permits.head()

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,longitude,subway_count_tenth_mi,subway_count_half_mi,subway_count_one_mi,subway_count_two_five_mi
0,MANHATTAN,1056547,2686,BROADWAY,121207354,10025,2022-05-11,PARTNERSHIP,N,40.798817,-73.968740,5.0,15.0,42.0,195.0
1,MANHATTAN,1812187,140,HILLSIDE AVENUE,121189524,10040,2022-05-11,CORPORATION,N,40.860296,-73.926125,2.0,15.0,34.0,153.0
2,BRONX,2823631,368,EAST 152 STREET,220586168,10455,2022-05-11,INDIVIDUAL,N,40.818565,-73.918118,0.0,9.0,60.0,215.0
3,BROOKLYN,3429007,3410,FARRAGUT ROAD,321588215,11210,2022-05-18,INDIVIDUAL,N,40.636513,-73.943944,0.0,11.0,13.0,95.0
4,BROOKLYN,3121674,1457,FLATBUSH AVENUE,321827163,11210,2022-05-11,CORPORATION,N,40.634773,-73.949721,0.0,11.0,20.0,87.0

In [133]:
# note: the lati../backup_data/and longitude I'm using are in decimals NOT minutes, so I do the same here
# these are set at a tenth of a mile to start, with 1 degree late = 69 miles and 1 degree longitude = 40 miles
max_delt_lat = 1/690 #CHANGE HERE
max_delt_long = 1/400 #CHANGE HERE

t0 = time.time()
print("Tenth mile started ", t0)
permits.loc[i, 'subway_count_tenth_mi'] = 0 #CHANGE HERE
for i in permits.index:
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    entrance_count = 0
    for n in subways.index:
        n_lat = subways.loc[n, 'latitude']
        n_long = subways.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= .1: #CHANGE HERE
                entrance_count += 1
    permits.loc[i, 'subway_count_tenth_mi'] = entrance_count #CHANGE HERE

print("Time to run tenth mile:", time.time()-t0) #CHANGE HERE
print('')


max_delt_lat = 5/690 #CHANGE HERE
max_delt_long = 5/400 #CHANGE HERE

t0 = time.time()
print("Half mile started ", t0)
permits.loc[i, 'subway_count_half_mi'] = 0 #CHANGE HERE
for i in permits.index:
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    entrance_count = 0
    for n in subways.index:
        n_lat = subways.loc[n, 'latitude']
        n_long = subways.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= .5: #CHANGE HERE
                entrance_count += 1
    permits.loc[i, 'subway_count_half_mi'] = entrance_count #CHANGE HERE


print("Time to run half mile:", time.time()-t0) #CHANGE HERE
print('')


max_delt_lat = 10/690 #CHANGE HERE
max_delt_long = 10/400 #CHANGE HERE

t0 = time.time()
print("Mile started ", t0)
permits.loc[i, 'subway_count_one_mi'] = 0 #CHANGE HERE
for i in permits.index:
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    entrance_count = 0
    for n in subways.index:
        n_lat = subways.loc[n, 'latitude']
        n_long = subways.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= 1: #CHANGE HERE
                entrance_count += 1
    permits.loc[i, 'subway_count_one_mi'] = entrance_count #CHANGE HERE

print("Time to run one mile:", time.time()-t0) #CHANGE HERE
print('')

max_delt_lat = 25/690 #CHANGE HERE
max_delt_long = 25/400 #CHANGE HERE

t0 = time.time()
print("2.5 mile started ", t0)
permits.loc[i, 'subway_count_two_five_mi'] = 0 #CHANGE HERE
for i in permits.index:
    lat = permits.loc[i, 'latitude']
    long = permits.loc[i, 'longitude']
    point1 = [lat, long]
    entrance_count = 0
    for n in subways.index:
        n_lat = subways.loc[n, 'latitude']
        n_long = subways.loc[n, 'longitude']
        if (abs(lat - n_lat)<= max_delt_lat) or (abs(lat - n_long)<= max_delt_long):
            point2 = [n_lat, n_long]
            distance = get_distance(point1, point2)
            if distance <= 2.5: #CHANGE HERE
                entrance_count += 1
    permits.loc[i, 'subway_count_two_five_mi'] = entrance_count #CHANGE HERE

print("Time to run 2.5 mile:", time.time()-t0) #CHANGE HERE
print('')

Tenth mile started  1660092238.8299189
Time to run tenth mile: 151.76178216934204

Half mile started  1660092390.592167
Time to run half mile: 151.12384724617004

Mile started  1660092541.716223
Time to run one mile: 155.0053629875183

2.5 mile started  1660092696.721838
Time to run 2.5 mile: 156.59649896621704

In [134]:
permits['subway_count_tenth_mi'].value_counts()

0.0     6568
2.0      219
1.0      163
4.0       97
3.0       77
8.0       15
6.0       14
5.0       13
7.0        3
9.0        1
16.0       1
14.0       1
11.0       1
15.0       1
10.0       1
12.0       1
Name: subway_count_tenth_mi, dtype: int64

In [135]:
permits['subway_count_half_mi'].value_counts()

0.0     3150
2.0      407
4.0      394
8.0      306
6.0      306
        ...
69.0       1
88.0       1
92.0       1
41.0       1
70.0       1
Name: subway_count_half_mi, Length: 70, dtype: int64

In [136]:
permits['subway_count_one_mi'].value_counts()

0.0      1862
3.0       291
5.0       251
4.0       210
8.0       205
         ...
137.0       1
83.0        1
145.0       1
202.0       1
151.0       1
Name: subway_count_one_mi, Length: 161, dtype: int64

In [137]:
permits['subway_count_two_five_mi'].value_counts()

0.0      730
16.0     355
17.0     296
14.0     232
12.0     222
        ...
372.0      1
398.0      1
481.0      1
525.0      1
246.0      1
Name: subway_count_two_five_mi, Length: 458, dtype: int64

In [138]:
permits.to_csv('../backup_data/permits_subway_backup.csv', index = False)

In [6]:
# permits = pd.read_csv('../backup_data/permits_subway_backup.csv')

# Historic Districts
Determing if a permit is located in a historic district.

In [139]:
permits.loc[0, 'point'] = 0

In [140]:
for i in permits.index:
    permits.loc[i, 'point'] = shapely.geometry.Point(permits.loc[i, 'longitude'], permits.loc[i, 'latitude'])

/Users/lorendunn/opt/anaconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:930: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  return self.coerce_to_target_dtype(value).setitem(indexer, value)
/Users/lorendunn/opt/anaconda3/lib/python3.9/site-packages/pandas/core/internals/managers.py:304: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  applied = getattr(b, f)(**kwargs)

In [141]:
permits.head()

,borough,bin_no,house_no,street_name,job_no,zip_code,job_start_date,owners_business_type,non-profit,latitude,longitude,subway_count_tenth_mi,subway_count_half_mi,subway_count_one_mi,subway_count_two_five_mi,hist_dist_name,in_hist_dist,point
0,MANHATTAN,1056547,2686,BROADWAY,121207354,10025,2022-05-11,PARTNERSHIP,N,40.798817,-73.968740,5.0,15.0,42.0,195.0,none,0.0,POINT (-73.96874 40.798817)
1,MANHATTAN,1812187,140,HILLSIDE AVENUE,121189524,10040,2022-05-11,CORPORATION,N,40.860296,-73.926125,2.0,15.0,34.0,153.0,none,0.0,POINT (-73.926125 40.860296)
2,BRONX,2823631,368,EAST 152 STREET,220586168,10455,2022-05-11,INDIVIDUAL,N,40.818565,-73.918118,0.0,9.0,60.0,215.0,none,0.0,POINT (-73.918118 40.818565)
3,BROOKLYN,3429007,3410,FARRAGUT ROAD,321588215,11210,2022-05-18,INDIVIDUAL,N,40.636513,-73.943944,0.0,11.0,13.0,95.0,none,0.0,POINT (-73.943944 40.636513)
4,BROOKLYN,3121674,1457,FLATBUSH AVENUE,321827163,11210,2022-05-11,CORPORATION,N,40.634773,-73.949721,0.0,11.0,20.0,87.0,none,0.0,POINT (-73.949721 40.634773)

In [142]:
for i in permits.index:
    permits.loc[i, 'hist_dist_name'] = 'none'

for i in permits.index:
    permits.loc[i, 'in_hist_dist'] = 0

## Used CSV With Latitude and Longitude Data for Historic Districts
I opted to use this instead of a shapefile because of the difficulty of converting latitude and longitude (WGS84) to NAD83. I wanted to be certain the geographic coordinates were all on the same scale.

This [stackoverflow answer](https://stackoverflow.com/a/18749373/5394724) showed me the basic approach to checking if a point is within a given area using shapely. I modified this because that answer was for one element and I have 154 historic districts, and because I used latitude and longitude from a .csv and this author used a shapefile. 

[This stackoverflow answer](https://stackoverflow.com/a/51892594/5394724) showed me how to make the shape using the long and latitude from the csv.

In [143]:
historic_dists = pd.read_csv('../historic_districts/LPC_HD_OpenData_2015Nov.csv')

In [144]:
historic_dists.columns

Index(['the_geom', 'BOROUGH', 'LP_NUMBER', 'CURRENT_', 'AREA_NAME',
       'EXTENSION', 'STATUS_OF_', 'LAST_ACTIO', 'BOUNDARY_N', 'PUBLIC_HEA',
       'OTHER_HEAR', 'DESDATE', 'CALDATE', 'Shape_Leng', 'Shape_Area'],
      dtype='object')

In [145]:
historic_dists.columns = historic_dists.columns.str.lower()

In [146]:
historic_dists.head()

,the_geom,borough,lp_number,current_,area_name,extension,status_of_,last_actio,boundary_n,public_hea,other_hear,desdate,caldate,shape_leng,shape_area
0,MULTIPOLYGON (((-73.78070476564865 40.79368791...,QN,LP-02040,Yes,Fort Totten Historic District,No,DESIGNATED,DESIGNATED,NaN,5/4/1999,NaN,6/29/1999,4/13/1999,11203.199722,4.067523e+06
1,MULTIPOLYGON (((-73.9545180987722 40.781621828...,MN,LP-01985,Yes,Hardenbergh/Rhinelander Historic District,No,DESIGNATED,DESIGNATED,NaN,3/10/1998,NaN,5/5/1998,NaN,410.860307,1.065242e+04
2,MULTIPOLYGON (((-74.00855983447059 40.71123470...,MN,LP-01901,Yes,African Burial Ground & The Commons Historic D...,No,DESIGNATED,DESIGNATED,NaN,9/1/1992,NaN,2/25/1993,NaN,4995.471462,1.069203e+06
3,MULTIPOLYGON (((-73.9595480661095 40.648261608...,BK,LP-00989,Yes,Albemarle-Kenmore Terraces Historic District,No,DESIGNATED,DESIGNATED,NaN,1/10/1978,NaN,7/11/1978,NaN,1240.770438,7.854686e+04
4,MULTIPOLYGON (((-73.96103396183 40.65868182663...,BK,LP-02567,Yes,Chester Court Historic District,No,DESIGNATED,DESIGNATED,AS IDENTIFIED BY RESEARCH DEPARTMENT (AND DETE...,11/25/2014,NaN,12/16/2014,10/28/2014,803.900855,3.840307e+04

In [147]:
t0 = time.time()

for i in range(len(historic_dists)):
    print(i)
    t1 = time.time()
    #shapefile_record = fiona_collection[i]
    shape = shapely.wkt.loads(historic_dists['the_geom'][i])
    minx, miny, maxx, maxy = shape.bounds
    bounding_box = shapely.geometry.box(minx, miny, maxx, maxy)
    for n in permits.index:
        if permits.loc[n, 'in_hist_dist'] != 1:
            point = permits.loc[n, 'point']
            if bounding_box.contains(point):
                if shape.contains(point):
                    permits.loc[n, 'in_hist_dist'] = 1
                    permits.loc[n, 'hist_dist_name'] = historic_dists.loc[i, 'area_name']
    print(f"Time from start to end of {i} loop: {time.time()-t0}")
    print(f"Time to run the {i} loop: {time.time()-t1}")
    print('')
print(f"Total time: {time.time()-t0}")

0
Time from start to end of 0 loop: 0.13018512725830078
Time to run the 0 loop: 0.12942099571228027

1
Time from start to end of 1 loop: 0.22683405876159668
Time to run the 1 loop: 0.09664106369018555

2
Time from start to end of 2 loop: 0.3256711959838867
Time to run the 2 loop: 0.09876203536987305

3
Time from start to end of 3 loop: 0.42232489585876465
Time to run the 3 loop: 0.09660696983337402

4
Time from start to end of 4 loop: 0.5207579135894775
Time to run the 4 loop: 0.09842300415039062

5
Time from start to end of 5 loop: 0.6146831512451172
Time to run the 5 loop: 0.09389209747314453

6
Time from start to end of 6 loop: 0.7095000743865967
Time to run the 6 loop: 0.09473490715026855

7
Time from start to end of 7 loop: 0.8058831691741943
Time to run the 7 loop: 0.0963740348815918

8
Time from start to end of 8 loop: 0.9001030921936035
Time to run the 8 loop: 0.0941622257232666

9
Time from start to end of 9 loop: 0.9984109401702881
Time to run the 9 loop: 0.0983119010925293

10
Time from start to end of 10 loop: 1.0955297946929932
Time to run the 10 loop: 0.09712481498718262

11
Time from start to end of 11 loop: 1.191622018814087
Time to run the 11 loop: 0.09607195854187012

12
Time from start to end of 12 loop: 1.285865068435669
Time to run the 12 loop: 0.09409308433532715

13
Time from start to end of 13 loop: 1.3834710121154785
Time to run the 13 loop: 0.09758520126342773

14
Time from start to end of 14 loop: 1.4794018268585205
Time to run the 14 loop: 0.09601879119873047

15
Time from start to end of 15 loop: 1.5749070644378662
Time to run the 15 loop: 0.095458984375

16
Time from start to end of 16 loop: 1.6714930534362793
Time to run the 16 loop: 0.09643030166625977

17
Time from start to end of 17 loop: 1.7665162086486816
Time to run the 17 loop: 0.0948789119720459

18
Time from start to end of 18 loop: 1.8630399703979492
Time to run the 18 loop: 0.09647202491760254

19
Time from start to end of 19 loop: 1.9592690467834473
Time to run the 19 loop: 0.09619688987731934

20
Time from start to end of 20 loop: 2.056211233139038
Time to run the 20 loop: 0.09691786766052246

21
Time from start to end of 21 loop: 2.15055513381958
Time to run the 21 loop: 0.09430909156799316

22
Time from start to end of 22 loop: 2.2471961975097656
Time to run the 22 loop: 0.09662318229675293

23
Time from start to end of 23 loop: 2.3419480323791504
Time to run the 23 loop: 0.09463787078857422

24
Time from start to end of 24 loop: 2.4361331462860107
Time to run the 24 loop: 0.09416913986206055

25
Time from start to end of 25 loop: 2.532431125640869
Time to run the 25 loop: 0.0962972640991211

26
Time from start to end of 26 loop: 2.6278231143951416
Time to run the 26 loop: 0.09547090530395508

27
Time from start to end of 27 loop: 2.722862958908081
Time to run the 27 loop: 0.09491896629333496

28
Time from start to end of 28 loop: 2.8192570209503174
Time to run the 28 loop: 0.09636092185974121

29
Time from start to end of 29 loop: 2.9149601459503174
Time to run the 29 loop: 0.0956721305847168

30
Time from start to end of 30 loop: 3.008842945098877
Time to run the 30 loop: 0.09385991096496582

31
Time from start to end of 31 loop: 3.1050519943237305
Time to run the 31 loop: 0.09618902206420898

32
Time from start to end of 32 loop: 3.200428009033203
Time to run the 32 loop: 0.09531378746032715

33
Time from start to end of 33 loop: 3.2990288734436035
Time to run the 33 loop: 0.0986180305480957

34
Time from start to end of 34 loop: 3.3938980102539062
Time to run the 34 loop: 0.09485793113708496

35
Time from start to end of 35 loop: 3.4916160106658936
Time to run the 35 loop: 0.09767508506774902

36
Time from start to end of 36 loop: 3.5851261615753174
Time to run the 36 loop: 0.09347414970397949

37
Time from start to end of 37 loop: 3.6806869506835938
Time to run the 37 loop: 0.09558510780334473

38
Time from start to end of 38 loop: 3.7743399143218994
Time to run the 38 loop: 0.09360003471374512

39
Time from start to end of 39 loop: 3.869575023651123
Time to run the 39 loop: 0.09520196914672852

40
Time from start to end of 40 loop: 3.9671289920806885
Time to run the 40 loop: 0.09757375717163086

41
Time from start to end of 41 loop: 4.062954902648926
Time to run the 41 loop: 0.09578227996826172

42
Time from start to end of 42 loop: 4.156512975692749
Time to run the 42 loop: 0.09349393844604492

43
Time from start to end of 43 loop: 4.255028963088989
Time to run the 43 loop: 0.09848999977111816

44
Time from start to end of 44 loop: 4.350064039230347
Time to run the 44 loop: 0.09504199028015137

45
Time from start to end of 45 loop: 4.4441819190979
Time to run the 45 loop: 0.09409213066101074

46
Time from start to end of 46 loop: 4.54141092300415
Time to run the 46 loop: 0.0971980094909668

47
Time from start to end of 47 loop: 4.635466814041138
Time to run the 47 loop: 0.09402298927307129

48
Time from start to end of 48 loop: 4.730569124221802
Time to run the 48 loop: 0.09508514404296875

49
Time from start to end of 49 loop: 4.826873064041138
Time to run the 49 loop: 0.09628415107727051

50
Time from start to end of 50 loop: 4.922884941101074
Time to run the 50 loop: 0.09598898887634277

51
Time from start to end of 51 loop: 5.017887830734253
Time to run the 51 loop: 0.09498190879821777

52
Time from start to end of 52 loop: 5.1143798828125
Time to run the 52 loop: 0.09646797180175781

53
Time from start to end of 53 loop: 5.208611965179443
Time to run the 53 loop: 0.0941929817199707

54
Time from start to end of 54 loop: 5.30397891998291
Time to run the 54 loop: 0.09535598754882812

55
Time from start to end of 55 loop: 5.401843070983887
Time to run the 55 loop: 0.09785914421081543

56
Time from start to end of 56 loop: 5.496564865112305
Time to run the 56 loop: 0.09465503692626953

57
Time from start to end of 57 loop: 5.592448949813843
Time to run the 57 loop: 0.0958561897277832

58
Time from start to end of 58 loop: 5.68889594078064
Time to run the 58 loop: 0.09646201133728027

59
Time from start to end of 59 loop: 5.784003973007202
Time to run the 59 loop: 0.09509706497192383

60
Time from start to end of 60 loop: 5.8786211013793945
Time to run the 60 loop: 0.09462475776672363

61
Time from start to end of 61 loop: 5.976759910583496
Time to run the 61 loop: 0.09822511672973633

62
Time from start to end of 62 loop: 6.07255482673645
Time to run the 62 loop: 0.09563422203063965

63
Time from start to end of 63 loop: 6.167189836502075
Time to run the 63 loop: 0.0945899486541748

64
Time from start to end of 64 loop: 6.265222072601318
Time to run the 64 loop: 0.0980079174041748

65
Time from start to end of 65 loop: 6.359805107116699
Time to run the 65 loop: 0.09458422660827637

66
Time from start to end of 66 loop: 6.452275037765503
Time to run the 66 loop: 0.09233403205871582

67
Time from start to end of 67 loop: 6.549891948699951
Time to run the 67 loop: 0.0976409912109375

68
Time from start to end of 68 loop: 6.643902063369751
Time to run the 68 loop: 0.09397602081298828

69
Time from start to end of 69 loop: 6.737338066101074
Time to run the 69 loop: 0.09338116645812988

70
Time from start to end of 70 loop: 6.832812070846558
Time to run the 70 loop: 0.09548711776733398

71
Time from start to end of 71 loop: 6.926921844482422
Time to run the 71 loop: 0.09404873847961426

72
Time from start to end of 72 loop: 7.024465084075928
Time to run the 72 loop: 0.09756708145141602

73
Time from start to end of 73 loop: 7.122066020965576
Time to run the 73 loop: 0.09752702713012695

74
Time from start to end of 74 loop: 7.217678070068359
Time to run the 74 loop: 0.09562206268310547

75
Time from start to end of 75 loop: 7.310029983520508
Time to run the 75 loop: 0.09230375289916992

76
Time from start to end of 76 loop: 7.40791392326355
Time to run the 76 loop: 0.09786415100097656

77
Time from start to end of 77 loop: 7.502326965332031
Time to run the 77 loop: 0.09441900253295898

78
Time from start to end of 78 loop: 7.595771074295044
Time to run the 78 loop: 0.09340786933898926

79
Time from start to end of 79 loop: 7.690773963928223
Time to run the 79 loop: 0.0950310230255127

80
Time from start to end of 80 loop: 7.783886909484863
Time to run the 80 loop: 0.09304499626159668

81
Time from start to end of 81 loop: 7.876979112625122
Time to run the 81 loop: 0.09307622909545898

82
Time from start to end of 82 loop: 7.974468946456909
Time to run the 82 loop: 0.0974740982055664

83
Time from start to end of 83 loop: 8.072360038757324
Time to run the 83 loop: 0.09814882278442383

84
Time from start to end of 84 loop: 8.167246103286743
Time to run the 84 loop: 0.09458613395690918

85
Time from start to end of 85 loop: 8.26487112045288
Time to run the 85 loop: 0.09765410423278809

86
Time from start to end of 86 loop: 8.360787153244019
Time to run the 86 loop: 0.09587574005126953

87
Time from start to end of 87 loop: 8.454936027526855
Time to run the 87 loop: 0.09407591819763184

88
Time from start to end of 88 loop: 8.55036997795105
Time to run the 88 loop: 0.09540009498596191

89
Time from start to end of 89 loop: 8.648833990097046
Time to run the 89 loop: 0.0984499454498291

90
Time from start to end of 90 loop: 8.743527173995972
Time to run the 90 loop: 0.0947260856628418

91
Time from start to end of 91 loop: 8.83850908279419
Time to run the 91 loop: 0.09494495391845703

92
Time from start to end of 92 loop: 8.934298992156982
Time to run the 92 loop: 0.09576606750488281

93
Time from start to end of 93 loop: 9.02799105644226
Time to run the 93 loop: 0.09363508224487305

94
Time from start to end of 94 loop: 9.123064994812012
Time to run the 94 loop: 0.09504580497741699

95
Time from start to end of 95 loop: 9.225008010864258
Time to run the 95 loop: 0.10195565223693848

96
Time from start to end of 96 loop: 9.32042908668518
Time to run the 96 loop: 0.09539008140563965

97
Time from start to end of 97 loop: 9.416448831558228
Time to run the 97 loop: 0.09599494934082031

98
Time from start to end of 98 loop: 9.513690948486328
Time to run the 98 loop: 0.09724116325378418

99
Time from start to end of 99 loop: 9.60741114616394
Time to run the 99 loop: 0.09368014335632324

100
Time from start to end of 100 loop: 9.704894065856934
Time to run the 100 loop: 0.09745621681213379

101
Time from start to end of 101 loop: 9.800473928451538
Time to run the 101 loop: 0.09558796882629395

102
Time from start to end of 102 loop: 9.89621901512146
Time to run the 102 loop: 0.0957801342010498

103
Time from start to end of 103 loop: 9.991801977157593
Time to run the 103 loop: 0.09554505348205566

104
Time from start to end of 104 loop: 10.089636087417603
Time to run the 104 loop: 0.09780073165893555

105
Time from start to end of 105 loop: 10.184296131134033
Time to run the 105 loop: 0.09462976455688477

106
Time from start to end of 106 loop: 10.280187129974365
Time to run the 106 loop: 0.09582877159118652

107
Time from start to end of 107 loop: 10.376820802688599
Time to run the 107 loop: 0.09662914276123047

108
Time from start to end of 108 loop: 10.472800970077515
Time to run the 108 loop: 0.0959618091583252

109
Time from start to end of 109 loop: 10.569888830184937
Time to run the 109 loop: 0.09707283973693848

110
Time from start to end of 110 loop: 10.667557001113892
Time to run the 110 loop: 0.09763836860656738

111
Time from start to end of 111 loop: 10.762417078018188
Time to run the 111 loop: 0.09484291076660156

112
Time from start to end of 112 loop: 10.856863975524902
Time to run the 112 loop: 0.09440279006958008

113
Time from start to end of 113 loop: 10.953284978866577
Time to run the 113 loop: 0.09641289710998535

114
Time from start to end of 114 loop: 11.047522068023682
Time to run the 114 loop: 0.09416079521179199

115
Time from start to end of 115 loop: 11.145491123199463
Time to run the 115 loop: 0.09798812866210938

116
Time from start to end of 116 loop: 11.241997003555298
Time to run the 116 loop: 0.09649109840393066

117
Time from start to end of 117 loop: 11.335806131362915
Time to run the 117 loop: 0.09374809265136719

118
Time from start to end of 118 loop: 11.429983139038086
Time to run the 118 loop: 0.09418511390686035

119
Time from start to end of 119 loop: 11.52750301361084
Time to run the 119 loop: 0.09749388694763184

120
Time from start to end of 120 loop: 11.620759010314941
Time to run the 120 loop: 0.0931997299194336

121
Time from start to end of 121 loop: 11.71297001838684
Time to run the 121 loop: 0.09218597412109375

122
Time from start to end of 122 loop: 11.810877084732056
Time to run the 122 loop: 0.09792685508728027

123
Time from start to end of 123 loop: 11.905685901641846
Time to run the 123 loop: 0.09476685523986816

124
Time from start to end of 124 loop: 11.998792171478271
Time to run the 124 loop: 0.09306597709655762

125
Time from start to end of 125 loop: 12.09652304649353
Time to run the 125 loop: 0.09771180152893066

126
Time from start to end of 126 loop: 12.191972970962524
Time to run the 126 loop: 0.09544205665588379

127
Time from start to end of 127 loop: 12.284681797027588
Time to run the 127 loop: 0.09266781806945801

128
Time from start to end of 128 loop: 12.382845163345337
Time to run the 128 loop: 0.09814786911010742

129
Time from start to end of 129 loop: 12.478012084960938
Time to run the 129 loop: 0.09517502784729004

130
Time from start to end of 130 loop: 12.57224416732788
Time to run the 130 loop: 0.09419417381286621

131
Time from start to end of 131 loop: 12.671893835067749
Time to run the 131 loop: 0.09963703155517578

132
Time from start to end of 132 loop: 12.770287990570068
Time to run the 132 loop: 0.09838008880615234

133
Time from start to end of 133 loop: 12.865033864974976
Time to run the 133 loop: 0.09470891952514648

134
Time from start to end of 134 loop: 12.964313983917236
Time to run the 134 loop: 0.09941506385803223

135
Time from start to end of 135 loop: 13.06029725074768
Time to run the 135 loop: 0.0958249568939209

136
Time from start to end of 136 loop: 13.153960227966309
Time to run the 136 loop: 0.09359478950500488

137
Time from start to end of 137 loop: 13.251491069793701
Time to run the 137 loop: 0.09755325317382812

138
Time from start to end of 138 loop: 13.34624195098877
Time to run the 138 loop: 0.09470701217651367

139
Time from start to end of 139 loop: 13.439296007156372
Time to run the 139 loop: 0.09300780296325684

140
Time from start to end of 140 loop: 13.534388065338135
Time to run the 140 loop: 0.09512495994567871

141
Time from start to end of 141 loop: 13.62843108177185
Time to run the 141 loop: 0.09397506713867188

142
Time from start to end of 142 loop: 13.721819162368774
Time to run the 142 loop: 0.09330105781555176

143
Time from start to end of 143 loop: 13.81972599029541
Time to run the 143 loop: 0.09792399406433105

144
Time from start to end of 144 loop: 13.91419005393982
Time to run the 144 loop: 0.09440302848815918

145
Time from start to end of 145 loop: 14.010999917984009
Time to run the 145 loop: 0.09677386283874512

146
Time from start to end of 146 loop: 14.109251976013184
Time to run the 146 loop: 0.09833598136901855

147
Time from start to end of 147 loop: 14.202545166015625
Time to run the 147 loop: 0.09319186210632324

148
Time from start to end of 148 loop: 14.295753955841064
Time to run the 148 loop: 0.09317684173583984

149
Time from start to end of 149 loop: 14.393384218215942
Time to run the 149 loop: 0.0976560115814209

150
Time from start to end of 150 loop: 14.489042043685913
Time to run the 150 loop: 0.09561419486999512

151
Time from start to end of 151 loop: 14.581547975540161
Time to run the 151 loop: 0.09244894981384277

152
Time from start to end of 152 loop: 14.679070234298706
Time to run the 152 loop: 0.0975039005279541

153
Time from start to end of 153 loop: 14.77431321144104
Time to run the 153 loop: 0.09525513648986816

Total time: 14.774481058120728

In [148]:
permits["in_hist_dist"].value_counts()

0.0    7134
1.0      42
Name: in_hist_dist, dtype: int64

In [149]:
permits.to_csv("../backup_data/perm_sub_hist_BACKUP.csv", index = False)